body{
    background-color: #f5f5f5 !important;
}
.container{
    margin-top: 60px;
}
.senior-condition{
    margin-top: 8px;
    display: none;
}
.financial-list-row{
    margin-top: 16px;
    border: 1px solid #ddd;
    background-color: #fff !important;
    border-radius: 4px;
    padding-bottom: 8px;
    padding-top: 8px;
}