@media screen and (max-width: 900px) {
    .notification-list{
    }
}

/**  大屏样式 **/
@media screen and (min-width: 900px){
    .notification-list{
        margin-left: 15px!important;
        margin-right: 15px!important;
    }
}
.clearFloat{
    clear: both;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.mainContainer{
    padding-top: 60px;
}

.user-account{
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
.mood-list-row {
    margin-top: 16px;
    border: 1px solid #ddd;
    background-color: #fff !important;
    border-radius: 4px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.blog-list-row {
    margin-top: 16px;
    border: 1px solid #ddd;
    background-color: #fff !important;
    border-radius: 4px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 10px;
}
.mood-create-time{
    font-size: 14px;
    font-family: "Pingfang SC",STHeiti,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.mood-froms{
    font-size: 14px;
    font-family: "Pingfang SC",STHeiti,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.blog-create-time{
    font-size: 14px;
    font-family: "Pingfang SC",STHeiti,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.blog-froms{
    font-size: 14px;
    font-family: "Pingfang SC",STHeiti,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.container{
    margin-top: 50px;
}

.message-content{
        border: 1px solid #ddd;
        border-top:none !important;
}
.message-content{
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.notification-list{
    border:1px solid #f5f5f5;
    box-shadow: 1px 0px 5px #888888;
    margin-bottom: 10px;
}
.notification-list-padding{
    padding-top: 5px;
    border-radius: 3px;
}
.notification-list-item{
    background-color: #fff !important;
    border-color: #f5f5f5 !important;
}

.row{
    margin-top: 8px;
}

.publish-time {
    color: #999;
    font-weight: bold;
    font-family: '微软雅黑';
}
.marginRight {
    margin-right: 12px;
}

#notification-tabs .badge{
    background-color: #428bca !important;
    color: #fff;
}