<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<title>common头部部分</title>
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body >
	<div class="layui-header" th:fragment="helloManage(tabId)">
		<div class="layui-logo">个人后台管理</div>
		<ul class="layui-nav layui-layout-left">
			<li class="layui-nav-item layadmin-flexible" lay-unselect="">
				<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
					<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
				</a>
			</li>
			<li class="layui-nav-item layui-hide-xs" lay-unselect>
				<a href="/index" target="_blank" title="系统首页">
					<i class="layui-icon layui-icon-website"></i>
				</a>
			</li>
			<li class="layui-nav-item layui-hide-xs" th:if="${isLogin and isShopping}" lay-unselect>
				<a href="/mall/" target="_blank" title="MALL商城">
					<i class="layui-icon layui-icon-diamond"></i>
				</a>
			</li>
			<li class="layui-nav-item layui-hide-xs" th:if="${isAdmin}" lay-unselect>
				<a href="/ad/index" target="_blank" title="系统设置">
					<i class="layui-icon layui-icon-set"></i>
				</a>
			</li>
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<img th:src="${userPic}" class="layui-nav-img">
					<label th:utext="${userName}">LeeDane</label>
				</a>
				<dl class="layui-nav-child">
					<dd><a href="">基本资料</a></dd>
					<dd><a href="">安全设置</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item"><a href="javascript:void(0);" onclick="logout();">安全退出</a></li>
		</ul>
	</div>
</body>
</html>