<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>写信页</title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<link rel="stylesheet" th:if="${isDebug}" th:href="@{/page/other/bootstrap-markdown/css/bootstrap-markdown.min.css}" />
	<link th:if="${not isDebug}" rel="stylesheet" th:href="@{//cdn.staticfile.org/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css}"/>
	<link th:if="${not isDebug}" rel="stylesheet" th:href="@{/page/css/paper/write.min.css}" />
	<link th:if="${isDebug}" rel="stylesheet" th:href="@{/page/css/paper/write.css}" />
	<style type="text/css"></style>
</head>
<body>
	<div th:include="common :: hello">what?</div>
	<div class="container" style="margin-top: 50px;">
		<div class="row">
			<blockquote>
					本站承诺：
					<ol>
						<li>系统至少运行到2022年8月80日。在您的信纸未读期间，我们会续费网站并保障系统平稳运行。</li>
						<li>竭力保障你所写的信到时能收到可以打开的通知(包括短信、邮件、站内消息等)并支持在线打开您所写的信纸。</li>
						<li>竭力保障您的信件在未拆封之前，任何人都无法查看信件的内容。</li>
						<li>信件到期后，支持自己或者分享给好友查阅。</li>
						<li>该功能模块全部免费使用，没有附加收费项。</li>
					</ol>
			</blockquote>
		</div>
		<div class="row" style="border: 2px dashed #FDC7C3;border-radius: 8px;">
			<div class="col-lg-9">
				<div class="form-group">
					<label for="title">标题</label>
					<input class="form-control" type="text" name="title" placeholder="请输入标题" />
				</div>
				<div class="form-group">
					<label for="call">称呼<font class="must-not-null">*</font></label>
					<input class="form-control" type="text" name="call" placeholder="请输入称呼" />
				</div>
				<div class="form-group">
					<label for="digest">内容(<font class="must-not-null">不能为空</font>)</label>
					<textarea class="form-control" data-savable="true" data-provide="markdown-editable" data-width="100%" data-toggle="tooltip" title="请输入信内容，支持mardown语法，不能为空，最多1499个字" rows="7" name="content" placeholder="请输入信的内容，不能超过1499个文字。" empty="true" limit="100"></textarea>
				</div>
				<div class="form-group">
					<label for="call">祝贺语</label>
					<input class="form-control" type="text" name="call" placeholder="请输入祝贺语，换行请用;分开" />
				</div>
				<div class="form-group">
					<label for="call">署名</label>
					<input class="form-control" type="text" name="call" placeholder="请输入署名" />
				</div>
				<div class="form-group">
					<label for="call">时间</label>
					<input class="form-control" type="text" name="call" placeholder="请输入时间" />
				</div>
			</div>
		</div>
	</div>
<div th:include="common-bottom :: bottom">bottom?</div>
</body>
<div th:include="common-js :: commJs">what?</div>
<script th:inline="javascript"></script>
<script th:if="${not isDebug}" th:src="@{/page/js/paper/write.min.js}" type="text/javascript"></script>
<script th:if="${isDebug}" th:src="@{/page/js/paper/write.js}" type="text/javascript"></script>
<script th:if="${isDebug}" th:src="@{/page/other/bootstrap-markdown/js/bootstrap-markdown.js}" type="text/javascript"></script>
<script th:if="${not isDebug}" th:src="@{//cdn.staticfile.org/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js}" type="text/javascript"></script>
</html>