<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	 	<meta charset="utf-8" />
	   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	   	<style type="text/css">
	   		.list-row {
			    margin-top: 16px;
			    border: 1px solid #ddd;
			    background-color: #fff !important;
			    border-radius: 4px;
			    padding-bottom: 8px;
			    padding-top: 8px;
			}
			
	   	</style>
	</head>
	<body>
		<div th:include="admin/common :: hello">what?</div>
	  	<div class="container mainContainer clearFloat">
		   <div class="row">
			   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
			   	<h2>提示：点击对应的按钮可以将该用户退出登录！</h2>
			   </div>
			   <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
			   		<button type="button" class="btn btn-danger btn-sm" style="margin-top: 10px;">
					  <span class="glyphicon glyphicon-off" aria-hidden="true"></span> LeeDane
					</button>
				</div>
		   </div>
		</div>
	</body>
	<div th:include="admin/commonAdjs :: commAdJs">what?</div>
	<script th:src="@{/page/admin/user/active.js}" type="text/javascript"></script>
</html>  