<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	 	<meta charset="utf-8" />
	   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	   	<style type="text/css">
	   		.list-row {
			    margin-top: 16px;
			    border: 1px solid #ddd;
			    background-color: #fff !important;
			    border-radius: 4px;
			    padding-bottom: 8px;
			    padding-top: 8px;
			}
			.senior-condition{
				margin-top: 8px;
				display: none;
			}
			.padding-five{
				padding: 5px;
			}
			.modal-body-send-message .active{
				background-color: #5cb85c !important;
	    		border-color: #5cb85c !important;
			}
	   	</style>
	</head>
	<body>
		<div th:include="admin/common :: hello">what?</div>
	  	<div class="container mainContainer clearFloat">
		   <div class="row list-row">
		   		<div class="col-lg-12">
			   		<div class="row">
			   			<div class="col-lg-4">
			   				 <input type="text" name="searchKey" class="form-control" placeholder="请输入账号或者中文名/真实名" onkeypress="if (event.keyCode == 13) search(this);" />
			   			</div>
			   			<div class="col-lg-4">
			   				<button type="button" class="btn btn-primary" onclick="search(this);">搜索</button>
			   				<button type="button" class="btn btn-primary senior-condition-btn">高级条件</button>
			   			</div>
			   		</div>
			   		
			   		<div class="row senior-condition">
			   			<div class="col-lg-6">
			   				<div class="row">
			   					<label for="" class="col-sm-6 control-label">注册开始时间</label>
			   				</div>
			   				<div class="row">
				   				 <div class="form-group">
								    <div class="col-sm-12">
								      <input type="date" name="registerStartTime" class="form-control" placeholder="开始时间" />
								   </div>
								 </div>
							 </div>
			   			</div>
			   			<div class="col-lg-6">
			   				<div class="row">
			   					<label for="" class="col-sm-6 control-label">注册结束时间</label>
			   				</div>
			   				<div class="row">
				   				 <div class="form-group">
								    <div class="col-sm-12">
								      <input type="date" name="registerEndTime" class="form-control" placeholder="结束时间" />
								   </div>
								 </div>
							 </div>
			   			</div>
			   		</div>
			   		<div class="row senior-condition">
			   			<div class="col-lg-6">
			   				<div class="row">
			   					<label for="" class="col-sm-6 control-label">出生开始时间</label>
			   				</div>
			   				<div class="row">
				   				 <div class="form-group">
								    <div class="col-sm-12">
								      <input type="date" name="birthStartTime" class="form-control" placeholder="开始时间" />
								   </div>
								 </div>
							 </div>
			   			</div>
			   			<div class="col-lg-6">
			   				<div class="row">
			   					<label for="" class="col-sm-6 control-label">出生结束时间</label>
			   				</div>
			   				<div class="row">
				   				 <div class="form-group">
								    <div class="col-sm-12">
								      <input type="date" name="birthEndTime" class="form-control" placeholder="结束时间" />
								   </div>
								 </div>
							 </div>
			   			</div>
			   		</div>
			   </div>
		   </div>
		    <!-- <div class="row list-row">
		    	<div class="col-lg-12">
		    		 <div class="row">
	    		 		<div class="col-lg-3">
	    		 			<img class="img-circle" alt="" width="90%" height="130" src="http://pic.onlyloveu.top/leedane_app_upload_ec5da83b-4fd9-4924-ad04-3264dfc52a9843d8c1ec-95d3-4cc7-aa12-9379a2196df2_Screenshot_20161216-122520_01.png">
	    		 		</div>
	    		 		<div class="col-lg-9">
	    		 			<div class="row">
		    		 			<div class="col-lg-3">姓名：leedane</div>
		    		 			<div class="col-lg-3">真实姓名：leedane</div>
		    		 			<div class="col-lg-3">中文名：leedane</div>
	    		 			</div>
	    		 			<div class="row">
		    		 			<div class="col-lg-3">出生年月：1990-11-11</div>
		    		 			<div class="col-lg-3">性别：男</div>
		    		 			<div class="col-lg-3">籍贯：中国</div>
	    		 			</div>
	    		 			<div class="row">
		    		 			<div class="col-lg-3">QQ：11111111</div>
		    		 			<div class="col-lg-3">手机号：137*****123</div>
		    		 			<div class="col-lg-3">注册时间：1990-11-11</div>
	    		 			</div>
	    		 			<div class="row">
		    		 			<div class="col-lg-3">邮件：11111111@qq.com</div>
		    		 			<div class="col-lg-3">教育背景：文盲</div>
		    		 			<div class="col-lg-3">出生地：广东湛江</div>
	    		 			</div>
	    		 			<div class="row">
	    		 				<div class="col-lg-12">
		    		 				<div class="form-group">
									  <textarea class="form-control" name="personal_introduction" placeholder="请输入个人简介"></textarea>
									</div>
								</div>
	    		 			</div>
	    		 		</div>
		    		 </div>
		    	</div>
		    </div> -->
		</div>
		
	<!-- 模态框编辑 -->
	<div class="modal fade" id="edit-user-info" data-id="0" tabindex="-1" role="dialog" aria-labelledby="editUserInfoModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="editUserInfoModalLabel">
						编辑用户信息
					</h4>
				</div>
				<div class="modal-body modal-body-edit-user-info">
					<form role="form" class="myForm">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
								  <label for="account">账号</label>
								  <input type="text" class="form-control" name="account" placeholder="请输入用户名" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
								  <label for="personal_introduction">个人简介</label>
								  <textarea class="form-control" name="personal_introduction" placeholder="请输入个人简介"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary status-btn">
										<input type="radio" name="options" id="agree" type-value="1" /> 正常
									</label>
									<label class="btn btn-primary status-btn">
										<input type="radio" name="options" id="no-agree" type-value="0" /> 禁用
									</label>
									<label class="btn btn-primary status-btn">
										<input type="radio" name="options" id="no-agree" type-value="4" /> 禁言
									</label>
									<label class="btn btn-primary status-btn">
										<input type="radio" name="options" id="no-agree" type-value="2" /> 注销
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="editUser(this);">
						编辑
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	
	<!-- 模态框发送信息 -->
	<div class="modal fade" id="send-message" data-id= "0" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="sendMessageModalLabel">
						发送信息
					</h4>
				</div>
				<div class="modal-body modal-body-send-message">
					<div class="row">
						<div class="col-lg-12">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-primary send-message-btn">
									<input type="radio" name="options" id="notification" type-value="1" /> 通知
								</label>
								<label class="btn btn-primary send-message-btn">
									<input type="radio" name="options" id="email" type-value="2" /> 邮件
								</label>
								<label class="btn btn-primary send-message-btn">
									<input type="radio" name="options" id="self" type-value="3" /> 私信
								</label>
								<label class="btn btn-primary send-message-btn disabled">
									<input type="radio" name="options" id="message" type-value="4" /> 短信
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
							  <label for="report-reason">发送信息内容<font color="red">*</font></label>
							  <textarea class="form-control" name="content" placeholder="请输入详细的信息内容"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="sendMessage(this);">
						发送
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	
	<!-- 模态框上传用户头像 -->
	<div class="modal fade" id="upload-user-head" tabindex="-1" role="dialog" aria-labelledby="uploadUserHeadModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="uploadUserHeadModalLabel">
						上传用户头像
					</h4>
				</div>
				<div class="modal-footer">
					<div class="input-group">
				      <input type="text" name="link" class="form-control" placeholder="请输入头像链接(最好七牛云存储链接)，不能超过500k" />
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button" onclick="uploadHeadLink(this);">发送</button>
				      </span>
				    </div><!-- /input-group -->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	</body>
	<div th:include="admin/commonAdjs :: commAdJs">what?</div>
	<script th:src="@{/page/admin/user/search.js}" type="text/javascript"></script>
</html>  