<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings> 
		<!-- 开启驼峰命名规范 -->
         <setting name="mapUnderscoreToCamelCase" value="true" /> 
         <!-- 开启值为空的字段也要映射，默认是不开启的 -->
         <setting name="callSettersOnNulls" value="true"/>
     </settings> 
	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="AttentionBean" type="com.cn.leedane.model.AttentionBean" />
		<typeAlias alias="BlogBean" type="com.cn.leedane.model.BlogBean" />
		<typeAlias alias="ChatBean" type="com.cn.leedane.model.ChatBean" />
		<!-- <typeAlias alias="ChatBgBean" type="com.cn.leedane.model.ChatBgBean" />
		<typeAlias alias="ChatBgUserBean" type="com.cn.leedane.model.ChatBgUserBean" />
		<typeAlias alias="CollectionBean" type="com.cn.leedane.model.CollectionBean" />
		<typeAlias alias="CommentBean" type="com.cn.leedane.model.CommentBean" />
		<typeAlias alias="CrawlBean" type="com.cn.leedane.model.CrawlBean" />
		<typeAlias alias="EmailBean" type="com.cn.leedane.model.EmailBean" />-->
		<typeAlias alias="FanBean" type="com.cn.leedane.model.FanBean" />
		<!-- <typeAlias alias="FilePathBean" type="com.cn.leedane.model.FilePathBean" />-->
		<typeAlias alias="FriendBean" type="com.cn.leedane.model.FriendBean" />
		<typeAlias alias="FinancialBean" type="com.cn.leedane.model.FinancialBean" />
		<typeAlias alias="GalleryBean" type="com.cn.leedane.model.GalleryBean" />
		<typeAlias alias="MoodBean" type="com.cn.leedane.model.MoodBean" />
		<!-- <typeAlias alias="NotificationBean" type="com.cn.leedane.model.NotificationBean" />
		<typeAlias alias="OperateLogBean" type="com.cn.leedane.model.OperateLogBean" />
		<typeAlias alias="OptionBean" type="com.cn.leedane.model.OptionBean" />
		<typeAlias alias="PrivateChatBean" type="com.cn.leedane.model.PrivateChatBean" />
		<typeAlias alias="ReportBean" type="com.cn.leedane.model.ReportBean" />
		<typeAlias alias="ScoreBean" type="com.cn.leedane.model.ScoreBean" />
		<typeAlias alias="SelMessageBean" type="com.cn.leedane.model.SelMessageBean" />
		<typeAlias alias="SignInBean" type="com.cn.leedane.model.SignInBean" />
		<typeAlias alias="TemporaryBase64Bean" type="com.cn.leedane.model.TemporaryBase64Bean" />
		<typeAlias alias="TransmitBean" type="com.cn.leedane.model.TransmitBean" />
		<typeAlias alias="UploadBean" type="com.cn.leedane.model.UploadBean" /> -->
		<typeAlias alias="UserBean" type="com.cn.leedane.model.UserBean" />
		<!-- <typeAlias alias="ZanBean" type="com.cn.leedane.model.ZanBean" /> -->
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!--
		说明：如果xxMapper.xml配置文件放在和xxMapper统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper相同目录和名称的xxMapper.xml
	-->
	<mappers>
		<mapper resource="com/cn/leedane/mapper/AttentionMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/BlogMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/ChatMapper.xml" />
		<!-- <mapper resource="com/cn/leedane/mapper/ChatBgMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/ChatBgUserMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/CollectionMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/CommentMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/CrawlMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/EmailMapper.xml" />-->
		<mapper resource="com/cn/leedane/mapper/FanMapper.xml" />
		<!-- <mapper resource="com/cn/leedane/mapper/FilePathMapper.xml" />-->
		<mapper resource="com/cn/leedane/mapper/FinancialMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/FriendMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/GalleryMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/MoodMapper.xml" />
		<!--  <mapper resource="com/cn/leedane/mapper/NotificationMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/OperateLogMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/OptionMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/PrivateChatMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/ReportMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/ScoreMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/SelMessageMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/SignInMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/TemporaryBase64Mapper.xml" />
		<mapper resource="com/cn/leedane/mapper/TransmitMapper.xml" />
		<mapper resource="com/cn/leedane/mapper/UploadMapper.xml" /> -->
		<mapper resource="com/cn/leedane/mapper/UserMapper.xml" />
		<!-- <mapper resource="com/cn/leedane/mapper/ZanMapper.xml" /> -->
	</mappers>

</configuration>  