<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:util="http://www.springframework.org/schema/util"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="    
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">   

    <context:component-scan base-package="com.cn.leedane.lucene"/>
   <util:constant id="LUCENE_VERSION" static-field="org.apache.lucene.util.Version.LUCENE_4_10_2"/>
	<!-- set your lucene dirctory -->
	<!-- use the SimpleFSLockFactory,数据文件存放位置设置 -->
	<bean id="directory" class="org.apache.lucene.store.SimpleFSDirectory">
		<constructor-arg>
			<bean class="java.io.File">
				<constructor-arg value="C:\\index\\leedaneLuceneIndex"/>
			</bean>
		</constructor-arg>
	</bean>
	
   	<!-- lucene search config -->
   	<!-- 设置字段内容长度，这里不做限制 -->
	<!-- <bean id="MAXFIELDLENGTH2" class="org.springframework.lucene.index.IndexWriter.MaxFieldLength.UNLIMITED"></bean> -->
	
	<!-- set your analyzer, to be used by the IndexWriter and QueryParser，这里选择庖丁分词器-->
	<!-- <bean id="analyzer" class="org.apache.lucene.analysis.standard.StandardAnalyzer"></bean>  -->
	<!-- IK分词器的使用 -->
	 <bean id="analyzer" class="org.wltea.analyzer.lucene.IKAnalyzer">
		<constructor-arg name="useSmart" value="true"></constructor-arg>
	</bean>
	 
	
	<bean id="indexWriterConfig" class="org.apache.lucene.index.IndexWriterConfig">
		<constructor-arg name="matchVersion" ref="LUCENE_VERSION"></constructor-arg>
		<constructor-arg name="analyzer" ref="analyzer"></constructor-arg>
	</bean>
	
	
	<!-- 这个最好设置成singleton，所以在启动容器的时候，最好启动一个，启动新的容器之前最好把以前
		的关闭了，不然会报org.apache.lucene.store.LockObtainFailedException: Lock obtain timed out: NativeFSLock
		错 -->
	<bean id="indexWriter" class="org.apache.lucene.index.IndexWriter" scope="singleton">
		<constructor-arg name="d" ref="directory"/>
		<constructor-arg name="conf" ref="indexWriterConfig"/>
		<!-- <constructor-arg ref="MAXFIELDLENGTH2"/> -->
	</bean>
	
	<!-- defind the indexSearcher,这里创建indexSearcher -->
	<!-- <bean id="indexSearcher" class="org.apache.lucene.search.IndexSearcher">
		<constructor-arg ref="directory" />
	</bean> -->
   
</beans>
