<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.circle.CircleClockInMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  

	<select id="getClockInBean" resultMap="objectBean">
		select cci.id , cci.circle_id, cci.create_date, date_format(cci.create_time,'%Y-%m-%d %H:%i:%s') create_time, cci.create_user_id,
		cci.pid, cci.continuous, cci.froms, cci.status
		from t_circle_clock_in cci 
		where DATE(cci.create_time) = #{time} and cci.circle_id = #{circleId} and cci.status = #{status} and cci.create_user_id = #{createUserId} limit 1
	</select>
	
	<resultMap type="com.cn.leedane.model.circle.CircleClockInBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="circleId" column="circle_id"/>
        <result property="createDate" column="create_date"/>
        <result property="pid" column="pid"/>
        <result property="status" column="status"/>
        <result property="continuous" column="continuous"/>
        <result property="froms" column="froms"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
   </resultMap>
</mapper>