<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.circle.CircleSettingMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  

	<select id="getSetting" parameterType="int" resultMap="objectBean">
		select cs.id, cs.circle_id, cs.add_member, cs.welcome_member, cs.question_title, cs.question_answer
		, date_format(cs.create_time,'%Y-%m-%d %H:%i:%s') create_time, cs.create_user_id
		from t_circle_setting cs inner join t_circle c on cs.circle_id = c.id
		where c.id = #{circleId} and cs.status = #{status} and c.status = #{status} limit 1
	</select>
	
	<resultMap type="com.cn.leedane.model.circle.CircleSettingBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="circleId" column="circle_id"/>
        <result property="addMember" column="add_member"/>
        <result property="welcomeMember" column="welcome_member"/>
        <result property="questionTitle" column="question_title"/>
        <result property="questionAnswer" column="question_answer"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
   </resultMap>
</mapper>