<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.circle.CirclePostMapper">

	<resultMap type="com.cn.leedane.model.circle.CirclePostBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="pid" column="pid"/>
        <result property="circleId" column="circle_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="hasImg" column="has_img"/>
        <result property="imgs" column="imgs"/>
        <result property="tag" column="tag"/>
        <result property="digest" column="digest"/>
        <result property="canComment" column="can_comment"/>
        <result property="canTransmit" column="can_transmit"/>
        <result property="postScore" column="post_score"/>
        <result property="postRecommend" column="post_recommend"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
   </resultMap>
   
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 --> 
	<select id="getCirclePost" resultType="java.util.Map">
		select cp.id, cp.status, cp.title, cp.content, cp.has_img, cp.circle_id, cp.pid, digest
		, date_format(cp.create_time,'%Y-%m-%d %H:%i:%s') create_time, cp.create_user_id, cp.imgs, cp.tag, cp.post_score, cp.post_recommend
		from t_circle_post cp
		where cp.id = #{postId} and cp.status = #{status} limit 1
	</select>
	
	<select id="paging" resultType="java.util.Map">
		select cp.id, cp.status, cp.title, cp.has_img, cp.circle_id, cp.pid, cp.post_score, cp.post_recommend
		, date_format(cp.create_time,'%Y-%m-%d %H:%i:%s') create_time, cp.create_user_id, cp.imgs, cp.tag, cm.role_type, cp.digest
		from t_circle_post cp inner join t_circle_member cm on cp.create_user_id = cm.member_id and cp.circle_id = cm.circle_id
		where cp.circle_id = #{circleId} and cp.status = #{status} 
		order by cp.id desc limit #{start}, #{pageSize}
	</select>
	
	<select id="getUserCirclePosts" resultMap="objectBean">
		select cp.id, cp.status, cp.title, cp.has_img, cp.circle_id, cp.pid, digest
		, date_format(cp.create_time,'%Y-%m-%d %H:%i:%s') create_time, cp.create_user_id, cp.imgs, cp.tag, cp.post_score, cp.post_recommend
		from t_circle_post cp 
		where cp.create_user_id=#{userId} and cp.status = #{status} 
		order by cp.id desc limit #{start}, #{pageSize}
	</select>
	
	<select id="getUserPostPosts" resultMap="objectBean">
		select cp.id, cp.status, cp.title, cp.has_img, cp.circle_id, cp.pid, cp.digest
		, date_format(cp.create_time,'%Y-%m-%d %H:%i:%s') create_time, cp.create_user_id, cp.imgs, cp.tag, cp.post_score, cp.post_recommend
		from t_circle_post cp 
		where cp.circle_id = #{circleId} and cp.create_user_id=#{userId} and cp.status = #{status} 
		order by cp.id desc limit #{start}, #{pageSize}
	</select>
	
	<select id="calculateHotests" resultType="java.util.Map" statementType="CALLABLE">
		{
			call calculateHostestPostsProcedure(#{time}, #{pageSize})
		}
	</select>
	
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 --> 
	<select id="getHostestPosts" resultMap="objectBean">
		select cp.id, cp.status, cp.title, cp.has_img, cp.circle_id, cp.pid, cp.digest
		, date_format(cp.create_time,'%Y-%m-%d %H:%i:%s') create_time, cp.create_user_id, cp.imgs, cp.tag, cp.post_score, cp.post_recommend
		from t_circle_post cp inner join t_circle c on c.id = cp.circle_id inner join t_circle_setting cs on c.id = cs.circle_id 
		where cp.create_time > #{time} and cp.status = #{status} and cs.status = 1
		order by cp.post_score desc, cp.id desc limit #{start}, #{pageSize}
	</select>
</mapper>