<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.baby.BabyLifeMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getMyBabys" resultMap="objectBean">
		select b.id, date_format(b.create_time,'%Y-%m-%d %H:%i:%s') create_time, b.create_user_id, b.status,
		b.life_type, date_format(b.occur_date,'%Y-%m-%d') occur_date, date_format(b.occur_time,'%Y-%m-%d %H:%i:%s') occur_time,
		b.reaction, b.baby_desc, b.occur_place, b.eat_type, b.left_capacity, b.wash_end_time, b.baby_id
		from t_baby_life b 
		where b.create_user_id = #{createUserId} and b.status=#{status} and b.baby_id = #{babyId}
		order by b.id desc limit #{start}, #{pageSize}
	</select>
	
	<select id="lifes" resultMap="objectBean">
		select b.id, date_format(b.create_time,'%Y-%m-%d %H:%i:%s') create_time, b.create_user_id, b.status,
		b.life_type, date_format(b.occur_date,'%Y-%m-%d') occur_date, date_format(b.occur_time,'%Y-%m-%d %H:%i:%s') occur_time,
		b.reaction, b.baby_desc, b.occur_place, b.eat_type, b.left_capacity, b.right_capacity, b.wake_up_time, b.wash_end_time, b.baby_id
		from t_baby_life b inner join t_user u on b.create_user_id = u.id 
		where u.id = #{createUserId} and b.status = #{status} and b.baby_id = #{babyId} 
		<if test="startDate != null and startDate != ''"> 
			and b.occur_date <![CDATA[ >= ]]> #{startDate}
		</if>
		
		<if test="endDate != null and endDate != ''"> 
			and b.occur_date <![CDATA[ <= ]]> #{endDate} 
		</if>
		
		<if test="lifeType > 0"> 
			and b.life_type = #{lifeType} 
		</if>
		
		<if test="keyWord != null and keyWord != ''"> 
			and (b.baby_desc like '%${keyWord}%' or b.occur_place like '%${keyWord}%' or b.brand like '%${keyWord}%')
		</if>
		order by b.occur_time desc limit #{start}, #{pageSize}
	</select>
	
	<resultMap type="com.cn.leedane.model.baby.BabyLifeBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="lifeType" column="life_type"/>
        <result property="occurDate" column="occur_date"/>
        <result property="occurTime" column="occur_time"/>
        <result property="reaction" column="reaction"/>
        <result property="babyDesc" column="baby_desc"/>
        <result property="occurPlace" column="occur_place"/>
        <result property="eatType" column="eat_type"/>
        <result property="leftCapacity" column="left_capacity"/>
        <result property="rightCapacity" column="right_capacity"/>
        <result property="capacity" column="capacity"/>
        <result property="temperature" column="temperature"/>
        <result property="brand" column="brand"/>
        <result property="wakeUpTime" column="wake_up_time"/>
        <result property="washEndTime" column="wash_end_time"/>
        <result property="babyId" column="baby_id"/>
   </resultMap>
</mapper>