<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.stock.StockBuyMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getStockBuys" resultMap="objectBean">
		select sb.id id, sb.stock_id, sb.price, sb.number, sb.sell_out,
		sb.create_user_id, date_format(sb.create_time,'%Y-%m-%d %H:%i:%s') create_time,
		sb.modify_user_id, date_format(sb.modify_time,'%Y-%m-%d %H:%i:%s') modify_time
		from t_stock_buy sb inner join t_stock s on s.id = sb.stock_id 
		where sb.create_user_id = #{createUserId} and sb.status = #{status} and sb.stock_id = #{stockId} 
		order by sb.create_time desc, sb.id desc
	</select>
	
	<resultMap type="com.cn.leedane.model.stock.StockBuyBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyUserId" column="modify_user_id"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="stockId" column="stock_id"/>
        <result property="price" column="price"/>
        <result property="number" column="number"/>
        <result property="sellOut" column="sell_out"/>
        
   </resultMap>
</mapper>