<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="'授权绑定结果失败页面'"></title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	授权绑定结果失败页面<span th:utext="${message}" style="line-height: 38px;"></span>
	<div class="layui-footer">
		<!-- 底部固定区域 -->
		<div th:include="common-bottom :: bottom">bottom?</div>
	</div>
</div>
</body>
<script th:inline="javascript">

</script>
<div th:include="manage/common-js :: manageJs">what?</div>
</html>