<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
 	<meta charset="utf-8" />
   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	<!-- 正式环境下的cdn引用-->
	<link th:if="${not isDebug}" rel="stylesheet" th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<!-- 测试环境下的引用 -->
	<link rel="stylesheet" th:if="${isDebug}" th:href="@{/page/other/bootstrap-3.3.0/css/bootstrap.min.css}" />
 </head>
<body>
  	<p>
	    关于我们：<br/>这是一款集生活、娱乐、社区互动为一体的综合系统，主要提供了Web端和Android客户端，目的是为了个人学习开发，没有任何商业目的。<br/>主要功能：<br/>包括博客、心情、记账等等主模块。<br/><br/>
	</p>
	<p style="display:none;">
	    <br/>
	</p>
</body>
</html>  