<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
 	<meta charset="utf-8" />
   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	<!-- 正式环境下的cdn引用-->
	<link th:if="${not isDebug}" rel="stylesheet" th:href="@{//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<!-- 测试环境下的引用 -->
	<link rel="stylesheet" th:if="${isDebug}" th:href="@{/page/other/bootstrap-3.3.0/css/bootstrap.min.css}" />
 </head>
<body>
<div class="container" style="margin-top:10px;">
	   <div class="row">
	   		<div class="list-group">
				<a href="#" class="list-group-item active">
					<h4 class="list-group-item-heading">
						联系方式
					</h4>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">
						QQ：825711424
					</h4>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">
						QQ邮箱：825711424@qq.com
					</h4>
				</a>
				<a href="http://weibo.com/leedane" class="list-group-item">
					<h4 class="list-group-item-heading">
						微博：LeeDane
					</h4>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">
						微信：leedane
					</h4>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">
						微信公众号：leedane
					</h4>
				</a>
			</div>
	   </div>
</div>
  	
</body>
</html>  