<!DOCTYPE HTML>
<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	<!-- 正式环境下的cdn引用-->
	<link th:if="${not isDebug}" rel="stylesheet" th:href="@{//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<!-- 测试环境下的引用 -->
	<link rel="stylesheet" th:if="${isDebug}" th:href="@{/page/other/bootstrap-3.3.0/css/bootstrap.min.css}" />
 </head>
<body>
  	<blockquote>
	  <p>欢迎您使用leedane后台管理系统！</p>
	  <footer>新的一天，从心开始<cite title="Source Title">Come on!</cite></footer>
	</blockquote>
</body>
</html>  