<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.mall.ReferrerRecordMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findReferrer" resultMap="objectBean">
        select r.id, r.status, r.create_user_id, date_format(r.create_time,'%Y-%m-%d %H:%i:%s') create_time
        ,r.modify_user_id, date_format(r.modify_time,'%Y-%m-%d %H:%i:%s') modify_time, r.code, r.user_id
        from t_mall_referrer_record r where r.create_user_id = #{userId}
	</select>
	
	<resultMap type="com.cn.leedane.model.mall.S_ReferrerRecordBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyUserId" column="modify_user_id"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="code" column="code"/>
        <result property="userId" column="user_id"/>
   </resultMap>
</mapper>