<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.mall.S_BigEventMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getEvents" resultType="java.util.Map">
		select e.id, e.status, e.create_user_id, date_format(e.create_time,'%Y-%m-%d %H:%i:%s') create_time
		, e.text, e.product_id 
		from t_mall_big_event e inner join t_mall_product p on p.id = e.product_id 
		where e.product_id = #{productId} and p.status=#{status} 
		order by e.id desc limit #{start}, #{pageSize}
	</select>
	
	<resultMap type="com.cn.leedane.model.mall.S_BigEventBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="productId" column="product_id"/>
        <result property="text" column="text"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
   </resultMap>
</mapper>