<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.mall.S_HomeCarouselMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="carousel" parameterType="int" resultMap="objectBean">
		select c.id, c.status, c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time 
		, c.product_id, c.img, p.p_code, p.create_user_id p_create_user_id, date_format(p.create_time,'%Y-%m-%d %H:%i:%s') p_create_time
		, p.title p_title, p.subtitle p_subtitle, p.digest p_digest, p.platform p_platform, p.price p_price
		, p.old_price p_old_price, p.cash_back_ratio p_cash_back_ratio, p.cash_back p_cash_back, s.id p_shop_id
		, p.link p_link , p.category_id p_category_id
		, ct.text p_category_text, p.main_img_links p_main_img_links, s.shop_name 
		from t_mall_home_carousel c 
		inner join t_mall_product p on c.product_id = p.id 
		inner join t_category ct on p.category_id = ct.id 
		inner join t_mall_shop s on s.id = p.shop_id 
		where c.status = #{status} order by c.id desc limit #{limit}
	</select>
	
	<resultMap type="com.cn.leedane.model.mall.S_HomeCarouselBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="productId" column="product_id"/>
        <result property="order" column="carousel_order"/>
        <result property="img" column="img"/>
        <result property="productBean.title" column="p_title"/>
        <result property="productBean.createUserId" column="p_create_user_id"/>
        <result property="productBean.createTime" column="p_create_time"/>
        <result property="productBean.code" column="p_code"/>
        <result property="productBean.subtitle" column="p_subtitle"/>
        <result property="productBean.digest" column="p_digest"/>
        <result property="productBean.platform" column="p_platform"/>
        <result property="productBean.price" column="p_price"/>
        <result property="productBean.oldPrice" column="p_old_price"/>
        <result property="productBean.cashBackRatio" column="p_cash_back_ratio"/>
        <result property="productBean.cashBack" column="p_cash_back"/>
        <result property="productBean.shopId" column="p_shop_id"/>
        <result property="productBean.shop.name" column="shop_name"/>
        <result property="productBean.link" column="p_link"/>
        <result property="productBean.categoryId" column="p_category_id"/>
        <result property="productBean.category" column="p_category_text"/>
        <result property="productBean.mainImgLinks" column="p_main_img_links"/>
   </resultMap>
</mapper>