<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.mall.S_HomeItemMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="showCategoryList" resultMap="objectBean">
		select c.id, c.status, c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time 
		, c.category_id, c.category_order, c.children , ct.text category_text, c.number
		from t_mall_home_item c inner join t_category ct on ct.id = c.category_id 
		where c.status = 1 order by c.category_order desc, c.create_time desc 
	</select>
	
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findItemByCategoryId" resultMap="objectBean">
		select c.id, c.status, c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time 
		, c.category_id, c.category_order, c.children, ct.text category_text, c.number
		from t_mall_home_item c inner join t_category ct on ct.id = c.category_id 
		where c.status = 1 and c.category_id = #{categoryId} limit 1 
	</select>
	
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findItemById" resultMap="objectBean">
		select c.id, c.status, c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time 
		, c.category_id, c.category_order, c.children, ct.text category_text, c.number
		from t_mall_home_item c inner join t_category ct on ct.id = c.category_id 
		where c.status = 1 and c.id = #{itemId} limit 1 
	</select>
	
	<resultMap type="com.cn.leedane.model.mall.S_HomeItemBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryText" column="category_text"/>
        <result property="categoryOrder" column="category_order"/>
        <result property="children" column="children"/>
        <result property="number" column="number"/>
   </resultMap>
</mapper>