<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.mall.S_OrderMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getNoDealNumber" resultType="java.util.Map">
		select count(o.id) ct 
		from t_mall_order o 
		where o.create_user_id = #{userId} and o.status in(9, 10, 11)
	</select>
	
	<!-- 分页获取心愿单列表 -->
	<select id="paging" parameterType="int" resultType="java.util.Map">
		select o.id, o.status, o.create_user_id, date_format(o.create_time,'%Y-%m-%d %H:%i:%s') create_time,
		o.order_code, o.product_code, o.title, o.referrer, o.platform, o.order_date 
		from t_mall_order o
		where o.create_user_id = #{userId} 
		order by o.create_time desc, o.id desc limit #{start}, #{pageSize}
	</select>
	
	<!-- <resultMap type="com.cn.leedane.model.mall.S_OrderBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
   </resultMap> -->
</mapper>