<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.mall.S_PromotionUserMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getUser" resultMap="objectBean">
		select count(w.id) ct 
		from t_mall_wish w inner join t_mall_product p on p.id = w.product_id 
		where w.create_user_id = #{userId} and w.status = #{status}
	</select>
	
	<resultMap type="com.cn.leedane.model.mall.promotion.S_PromotionUserBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="adzoneId" column="adzone_id"/>
        <result property="siteId" column="site_id"/>
        <result property="level" column="level"/>
        <result property="ratio" column="ratio"/>
   </resultMap>
</mapper>