<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.mall.S_ProductMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getProduct" resultMap="objectBean">
		select p.id, p.is_new, p.p_code, p.status, p.create_user_id, date_format(p.create_time,'%Y-%m-%d %H:%i:%s') create_time
		, p.title, p.subtitle, p.digest, p.platform, p.price, p.old_price, p.cash_back_ratio, p.cash_back, p.shop_id, p.link , p.category_id
		, c.text category_text, p.main_img_links, p.detail, p.detail_source
		from t_mall_product p 
		inner join t_category c on p.category_id = c.id 
		inner join t_mall_shop s on s.id = p.shop_id
		where p.id = #{productId} and c.status = #{status} order by p.id desc
	</select>
	
	<!-- 获取所有的商品 -->  
	<select id="getProducts" resultType="java.util.Map">
		select p.id from t_mall_product p
	</select>
	
	<resultMap type="com.cn.leedane.model.mall.S_ProductBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="isNew" column="is_new"/>
        <result property="code" column="p_code"/>
        <result property="status" column="status"/>
        <result property="title" column="title"/>
        <result property="subtitle" column="subtitle"/>
        <result property="digest" column="digest"/>
        <result property="platform" column="platform"/>
        <result property="price" column="price"/>
        <result property="oldPrice" column="old_price"/>
        <result property="cashBackRatio" column="cash_back_ratio"/>
        <result property="cashBack" column="cash_back"/>
        <result property="shopId" column="shop_id"/>
        <result property="link" column="link"/>
        <result property="categoryId" column="category_id"/>
        <result property="category" column="category_text"/>
        <result property="mainImgLinks" column="main_img_links"/>
        <result property="detail" column="detail"/>
        <result property="detailSource" column="detail_source"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
   </resultMap>
</mapper>