<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.shop.S_ShopMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getShop" parameterType="int" resultMap="objectBean">
		select s.id, s.validation, s.detail, s.status, s.create_user_id, date_format(s.create_time,'%Y-%m-%d %H:%i:%s') create_time
		, s.is_official, s.validation_detail, s.shop_name, s.link, s.img
		from t_shop s 
		where s.id = #{shopId} and s.status = #{status} order by s.id desc
	</select>
	
	<!-- 获取所有的商店 -->  
	<select id="getShops" resultType="java.util.Map">
		select s.id from t_shop s
	</select>
	
	<resultMap type="com.cn.leedane.model.shop.S_ShopBean" id="objectBean">
        <id property="id" column="id"/>
        <result property="validation" column="validation"/>
        <result property="detail" column="detail"/>
        <result property="status" column="status"/>
        <result property="isOfficial" column="is_official"/>
        <result property="validationDetail" column="validation_detail"/>
        <result property="shopName" column="shop_name"/>
        <result property="link" column="link"/>
        <result property="img" column="img"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
   </resultMap>
</mapper>