<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.CategoryMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  

	<select id="children" parameterType="int" resultType="java.util.Map">
		select c.id, c.text, c.pid, c.is_system
		, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.create_user_id
		, (
			select count(c1.id) from t_category c1 where c1.pid = c.id and ((c1.create_user_id = #{userId} and is_system = 0) or (is_system = 1))
		) nodes 
		from t_category c 
		where pid = #{pid} 
		<if test="pid > 0">  
		      and ((create_user_id = #{userId} and (is_system = 0)) or (is_system = 1))
		</if>
	</select>
	
	<select id="canDelete" parameterType="int" resultType="java.util.Map">
		select id from t_category c where id = #{id} and create_user_id = #{userId} and is_system = 0 limit 1
	</select>
	
	<select id="getParentCategorys" resultType="java.util.Map" statementType="CALLABLE">
		{
			call getParentCategory(#{cid})
		}
	</select>
</mapper>