<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.ChatMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getOneChatByAllUser" resultType="ChatBean">
		SELECT * from t_chat t 
		where status=#{status} and to_user_id = #{to_user_id} and NOT EXISTS (
				select 1 from t_chat t1 
				where t.create_user_id = t1.create_user_id 
				and t1.to_user_id = #{to_user_id} 
				and status=#{status} 
				and t.create_time > t1.create_time 
		)
	</select>
</mapper>