<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.ChatSquareMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="paging" resultType="java.util.Map">
		select s.id, s.create_user_id, date_format(s.create_time,'%Y-%m-%d %H:%i:%s') time
		, s.content, s.type, s.at_other
		from t_chat_square s where s.status = #{status}
		<choose>
			<when test="last > 0">
				and s.id &lt; #{last}
			</when>
		</choose>
		order by s.id desc limit #{pageSize}
	</select>
</mapper>