<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.CollectionMapper">
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="getMyCollections" resultType="java.util.Map">
		select a.id, a.table_name, a.table_id, a.create_user_id, date_format(a.create_time,'%Y-%m-%d %H:%i:%s') create_time
		from t_collection a where a.create_user_id = #{userId} and a.status = 1 order by a.id desc limit #{start},#{limit}
	</select>
</mapper>