<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.CommentMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getMessageBoards" resultType="java.util.Map">
		select c.content, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.create_user_id, c.froms, c.pid, c.status 
		from t_comment c 
		where c.table_id = #{tableId} and c.table_name = 't_message_board' and c.status=#{status} 
		order by c.id desc
	</select>
</mapper>