<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.CrawlMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findAllNotCrawl" resultType="java.util.Map">
		<if test="limit == 0">
			<if test="source == null || source == '' ">
				select * from t_crawl where is_crawl = 0
			</if>
			
			<if test="source != null ">
				select * from t_crawl where is_crawl = 0 and source = #{source}
			</if>
		</if>
		<if test="limit > 0">
			<if test="source == null || source == '' ">
				select * from t_crawl where is_crawl = 0 limit #{limit}
			</if>
			
			<if test="source != null">
				select * from t_crawl where is_crawl = 0 and source = #{source} limit #{limit}
			</if>
		</if>
	</select>
	
	<select id="findAllHotNotCrawl" resultType="java.util.Map">
		<if test="limit == 0">
			select * from t_crawl where is_crawl = 0 order by score desc
		</if>
		<if test="limit > 0">
			select * from t_crawl where is_crawl = 0 limit #{limit}
		</if>
	</select>
</mapper>