<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.EventMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="events" parameterType="int" resultType="java.util.Map">
		select e.id, e.status, e.content, e.source,
			date_format(e.create_time,'%Y-%m-%d %H:%i:%s') create_time
			, e.create_user_id, date_format(e.modify_time,'%m-%d %H:%i') modify_time
			, e.modify_user_id from t_event e
		where e.status = #{status}
		order by e.modify_time desc, e.id desc limit #{start}, #{pageSize}
	</select>

	<select id="all" resultType="java.util.Map">
		select e.id, e.status, e.content,
		date_format(e.modify_time,'%Y-%m-%d %H:%i:%s') create_time
		, e.modify_user_id from t_event e
		order by e.modify_time desc, e.id desc
	</select>
</mapper>