<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.GalleryMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="isExist" resultType="java.util.Map">
		select id from t_gallery where path = #{path} and create_user_id = #{userId} limit 1
	</select>

	<select id="paging" resultType="java.util.Map">
		select g.id, g.status, g.gallery_desc, g.height,
		g.length, g.width, g.path, g.category_id,
		date_format(g.create_time,'%Y-%m-%d %H:%i:%s') create_time
		, g.create_user_id, date_format(g.modify_time,'%m-%d %H:%i') modify_time
		, g.modify_user_id from t_gallery g
		where g.create_user_id = #{createUserId}
		order by g.modify_time desc, g.id desc limit #{start}, #{pageSize}
	</select>
</mapper>