<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.JobManageMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="isExist" resultType="java.util.Map">
		select id from t_job_manage where job_name = #{name} and job_group = #{group} and status = #{status} limit 1
	</select>
	
	<select id="paging" parameterType="int" resultType="java.util.Map">
		select jm.id, jm.job_name, jm.job_group, jm.class_name,
			jm.expression, jm.job_order, jm.job_desc, date_format(jm.create_time,'%Y-%m-%d %H:%i:%s') create_time , jm.create_user_id, jm.status
		from t_job_manage jm 
		order by jm.job_order desc, jm.id desc limit #{start}, #{pageSize}
	</select>
</mapper>