<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.ManageRemindMapper">
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="reminds" resultType="java.util.Map">
		select r.id, r.status, r.create_user_id, date_format(r.create_time,'%Y-%m-%d %H:%i:%s') create_time
		, r.name, r.cycle, r.cron, date_format(r.end,'%Y-%m-%d %H:%i:%s') end, r.type, r.way, r.time, r.content
		from t_manage_remind r where r.create_user_id = #{userId} and r.status = 1 order by r.id desc limit #{start},#{limit}
	</select>

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="all" resultMap="objectBean">
		select r.id, r.status, r.create_user_id, date_format(r.create_time,'%Y-%m-%d %H:%i:%s') create_time
		, r.name, r.cycle, r.cron, date_format(r.end,'%Y-%m-%d %H:%i:%s') end, r.type, r.way, r.time, r.content
		from t_manage_remind r where r.status = 1
	</select>

	<resultMap type="com.cn.leedane.model.ManageRemindBean" id="objectBean">
		<id property="id" column="id"/>
		<result property="status" column="status"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyUserId" column="modify_user_id"/>
		<result property="modifyTime" column="modify_time"/>
		<result property="name" column="name"/>
		<result property="cycle" column="cycle"/>
		<result property="cron" column="cron"/>
		<result property="end" column="end"/>
		<result property="type" column="type"/>
		<result property="way" column="way"/>
		<result property="time" column="time"/>
		<result property="content" column="content"/>
	</resultMap>
</mapper>