<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.MaterialMapper">

<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<insert id="insertByBatch" parameterType="java.util.List">
        insert into t_material (status, path, qiniu_path, width, height, length, material_desc, material_type, create_user_id, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.status, jdbcType=INTEGER}, #{item.path,jdbcType=VARCHAR}, 
            #{item.qiniu_path, jdbcType=VARCHAR}, #{item.width,jdbcType=INTEGER}, 
            #{item.height, jdbcType=INTEGER}, #{item.length,jdbcType=INTEGER},
            #{item.material_desc, jdbcType=VARCHAR}, #{item.material_type,jdbcType=VARCHAR},
            #{item.create_user_id,jdbcType=INTEGER},#{item.create_time,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="isExist" resultType="java.util.Map">
		select id from t_material where path = #{path} and create_user_id = #{userId}
	</select>
	
	<select id="getMaterialByLimit" resultType="java.util.Map">
		select mt.id, mt.path, mt.qiniu_path, mt.width, mt.height, mt.length, mt.material_desc
			, date_format(mt.create_time,'%Y-%m-%d %H:%i:%s') create_time
		from t_material mt 
		where mt.create_user_id = #{createUserId} and mt.status = #{status} and mt.material_type = #{type}
		order by mt.id desc limit #{start}, #{pageSize}
	</select>
</mapper>