<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.PermissionMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="roles" resultType="java.util.Map">
		select r.id, r.role_code, (select 1 from t_role_permission rp where rp.role_id = r.id and rp.permission_id = #{pmid} and rp.status=#{status}) has
		from t_role r where r.status=#{status}
	</select>
</mapper>