<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.UserMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findAll" resultType="UserBean">
		select id,account,age, date_format(register_time,'%Y-%c-%d %H:%i:%s') registerTime from t_user
	</select>
	
	<select id="findAllList" resultType="HashMap">
		select id,account,age, date_format(register_time,'%Y-%c-%d %H:%i:%s') registerTime from t_user
	</select>
	<select id="loginUser" resultType="UserBean">
		select * from t_user where (account=#{condition} or email=#{condition}) and password=#{password} limit 1
	</select>
	<select id="loginUserByPhone" resultType="UserBean">
		select * from t_user where mobile_phone = #{mobilePhone} limit 1
	</select>
	
	<select id="loginByWeChat" resultType="UserBean">
		select * from t_user where wechat_user_name = #{fromUserName} and status = #{status} 
	</select>
	
	<select id="checkRegisterCode" resultType="UserBean">
		select * from t_user where registerCode=#{registerCode} and status = 2
	</select>
	
	<select id="find4MoreUser" resultType="java.util.Map">
		
	</select>
	
	<select id="getAllUsers" resultType="UserBean">
		select * from t_user where status=#{status}
	</select>
	
	<select id="getUserByNoLoginCode" resultType="UserBean">
		select * from t_user where account = #{account} and no_login_code = #{noLoginCode} and status = #{status}
	</select>
	
	<select id="shakeSearch" resultType="UserBean">
		select * from t_user where status = #{status} and id != #{createUserId} order by rand() limit 1
	</select>

	<select id="loginUserByOauth2Id" resultType="UserBean">
		select u.* from t_user u where u.id = (select o.create_user_id from t_oauth2 o where o.platform=#{platform} and o.open_id=#{openId} and o.oauth2_id = #{oauth2Id} limit 1) limit 1
	</select>

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  

	<select id="getSetting" resultMap="userSettingBean">
		select cs.id, cs.status, cs.circle_id, cs.add_member, cs.welcome_member, cs.question_title, cs.question_answer
		, date_format(cs.create_time,'%Y-%m-%d %H:%i:%s') create_time, cs.create_user_id, cs.announce, cs.check_post
		, cs.background_color, cs.limit_number 
		from t_user_setting cs inner join t_circle c on cs.circle_id = c.id
		where c.id = #{circleId} and cs.status = #{status} and c.status = #{status} limit 1
	</select>
	
	<resultMap type="com.cn.leedane.model.UserSettingBean" id="userSettingBean">
        <id property="id" column="id"/>
        <id property="status" column="status"/>
        <result property="circleId" column="circle_id"/>
        <result property="addMember" column="add_member"/>
        <result property="welcomeMember" column="welcome_member"/>
        <result property="questionTitle" column="question_title"/>
        <result property="questionAnswer" column="question_answer"/>
        <result property="announce" column="announce"/>
        <result property="checkPost" column="check_post"/>
        <result property="backgroundColor" column="background_color"/>
        <result property="limitNumber" column="limit_number"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
   </resultMap>
</mapper>