<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.UserRoleMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getUserRoleBeans" resultMap="roleMap1">
		select ur.id, rp.permission_id pid,
			(select r.role_code from t_role r where r.id = ur.role_id and r.status = #{status}) rcode, 
			(select p.permission_code from t_permission p where p.id = rp.permission_id and rp.status = #{status}) pcode
		from t_user_role ur LEFT JOIN t_role_permission rp on rp.role_id = ur.role_id 
		where ur.user_id = #{userId} and ur.status = #{status} 
	</select>
	
	<resultMap type="com.cn.leedane.model.RoleBean" id="roleMap1">
        <id property="id" column="id"/>
        <result property="code" column="rcode"/>
        <!-- <id property="account" column="account"/> -->
        <!-- ofType指定students集合中的对象类型 -->
        <collection property="permissions" ofType="com.cn.leedane.model.PermissionBean">
            <id property="id" column="pid"/>
            <result property="code" column="pcode"/>
        </collection>
   </resultMap>
   
   <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<insert id="insertByBatch" parameterType="java.util.List">
        insert into t_user_role (status, role_id, user_id, create_user_id, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (1, #{item.role_id, jdbcType=INTEGER}, #{item.user_id,jdbcType=INTEGER}, #{item.create_user_id,jdbcType=INTEGER},#{item.create_time,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
     <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getUsersByRoleId" resultType="java.util.Map">
		select ur.user_id
		from t_user_role ur where ur.role_id = #{rlid}
	</select>
	
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="getUsersByRoleIds" resultType="java.util.Map">
		select ur.user_id
		from t_user_role ur where ur.role_id in 
		<foreach collection="rlids" item="rlid" index="index"
            open="(" close=")" separator=",">
            #{rlid}
        </foreach>
	</select>
</mapper>