<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="'圈子《'+ ${circle.name}+'》'"></title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<style type="text/css">
		#main-container{
			margin-top: 60px;
			/* width: 100%; */
		}
		
		.panel-table-container{
			padding: 0!important;
		}
		
		.panel-table-container table{
			margin-bottom: 0!important;
		}
	</style>
</head>
<body>
<div th:include="common :: hello">what?</div>
<script th:src="@{/page/js/circle/main.js}" type="text/javascript"></script>
	<div class="container" id="main-container">
		<div class="row">
			<div class="col-lg-3">
					<div class="row">
						<div class="thumbnail">
					      <div class="caption">
					        <h4>	<img alt="" width="30" height="30" class="img-circle" th:src="${circle.circlePath}" />
					        		<span th:if="${isLogin}" th:utext="${circle.name}"></span>
					        		<a th:if="${not isLogin}" href="javascript:void(0);" class="btn btn-default btn-sm" role="button" data-toggle="tooltip" title="请先登录" onclick="linkToLogin();">登录</a>
					        </h4>
					        <p>贡献值：<span th:utext="${myContribute}"></span>/<span th:utext="${allContribute}"></span></p>
					        <p>圈主：<a th:onclick="'linkToMy('+ ${createId} +');'" href="javascript:void(0);" th:utext="${createName}"></a></p>
					        <p>管理员：
					        	<span th:each="admin,adminStat : ${admins}">
						        	<a th:onclick="'linkToMy('+ ${admin.member_id} +');'" href="javascript:void(0);" th:utext="${admin.account}"></a>
						        </span>
					        </p>
					        <p>创建时间：<span th:text="${createTime}"></span></p>
					        <p class="cut-text" data-toggle="tooltip" th:title="${circle.circleDesc}">
					        	说明：<span th:text="${circle.circleDesc}"></span>
					        </p>
					        <p>
					        	<a th:if="${isCreater or inMember} and ${isClockIn}" href="javascript:void(0);" class="btn btn-primary btn-sm" role="button" data-toggle="tooltip" title="您今天已经打卡" disabled="disabled">已打卡</a>
					        	<a th:if="${isCreater or inMember} and ${not isClockIn}" href="javascript:void(0);" class="btn btn-primary btn-sm add-clock-in" role="button" data-toggle="tooltip" title="打卡的奖励为圈子专属">打卡</a>
								<a th:if="${not isCreater and not inMember}" href="javascript:void(0);" class="btn btn-default btn-sm into-circle" role="button" data-toggle="tooltip" title="申请加入该圈子">加入圈子</a>
								<a th:if="${not isCreater and inMember}" href="javascript:void(0);" class="btn btn-default btn-sm circle-leave" role="button" data-toggle="tooltip" title="退出该圈子">退出圈子</a>
								<a th:if="${isCreater} or ${isCircleAdmin}" href="javascript:void(0);" class="btn btn-default btn-sm circle-setting" role="button" data-toggle="tooltip" title="圈子设置">设置</a>
								<a th:if="${isLogin} and ${inMember}" th:href="'/cc/'+ ${circle.id} +'/write'" class="btn btn-warning btn-sm circle-post" role="button" data-toggle="tooltip" title="发表关于该圈子的帖子">发帖</a>
							</p>
					      </div>
					    </div>
					</div>
					<div class="row">
						<div class="panel panel-default">
						    <div class="panel-heading">
						        <h3 class="panel-title">
						            	圈子成员(<span color="red" th:utext="${memberNumber}"></span>)
						        </h3>
						    </div>
						    <div class="panel-body">
						        <div class="row" th:if="${isLogin}">
						        	<div  th:each="member,memberStat : ${newestMembers}" class="col-lg-3 col-sm-3 col-md-3 col-xs-3" style="padding-left: 5px; padding-right: 5px;">
						        		 <img th:data="${member.member_id}" data-toggle="tooltip" th:title="${member.account}" class="img-circle img-responsive hand user-img" style="width: 100%; height: 65px;" th:src="${member.user_pic_path}" />
						        	</div>
						        	
						        </div>
						        
						        <div th:if="${isLogin}" class="row pull-right" style="margin-top: 8px; margin-right: 0px;">
						        	<a th:href="'/cc/' + ${circle.id} +'/member-list'">查看更多</a>
						        </div>
						        <div class="row" th:if="${not isLogin}">
						        	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
						         		登录才能查看
						         	</div>
						        </div>
						    </div>
						</div>
						
						<div class="panel panel-default">
						    <div class="panel-heading">
						        <h3 class="panel-title">
						            	活跃成员
						        </h3>
						    </div>
						    <div class="panel-body">
						        <div class="row" th:if="${isLogin}">
						        	<div  th:each="member,memberStat : ${hotestMembers}" class="col-lg-3 col-sm-3 col-md-3 col-xs-3" style="padding-left: 5px; padding-right: 5px;">
						        		 <img th:data="${member.member_id}" data-toggle="tooltip" th:title="${member.account}" class="img-circle img-responsive hand user-img" style="width: 100%; height: 65px;" th:src="${member.user_pic_path}" />
						        	</div>
						        	
						        </div>
						        
						        <div th:if="${isLogin} and ${#lists.size(hotestMembers)} gt 4" class="row pull-right" style="margin-top: 8px; margin-right: 0px;">
						        	<a href="'/cc/' + ${circle.id} +'/member-list'">查看更多</a>
						        </div>
						        <div class="row" th:if="${not isLogin}">
						        	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
						         		登录才能查看
						         	</div>
						        </div>
						    </div>
						</div>
						<div class="panel panel-default">
						    <div class="panel-heading">
						        <h3 class="panel-title">
						            	推荐成员
						        </h3>
						    </div>
						    <div class="panel-body">
						        <div class="row" th:if="${isLogin}">
						        	<div  th:each="member,memberStat : ${recommendMembers}" class="col-lg-3 col-sm-3 col-md-3 col-xs-3" style="padding-left: 5px; padding-right: 5px;">
						        		 <img th:data="${member.member_id}" data-toggle="tooltip" th:title="${member.account}" class="img-circle img-responsive hand user-img" style="width: 100%; height: 65px;" th:src="${member.user_pic_path}" />
						        	</div>
						        	
						        </div>
						        
						        <div th:if="${isLogin} and ${#lists.size(recommendMembers)} gt 4" class="row pull-right" style="margin-top: 8px; margin-right: 0px;">
						        	<a href="'/cc/' + ${circle.id} +'/member-list'">查看更多</a>
						        </div>
						        <div class="row" th:if="${not isLogin}">
						        	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
						         		登录才能查看
						         	</div>
						        </div>
						    </div>
						</div>
					</div>
			</div>
			<div class="col-lg-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						热门圈子
					</div>
					<div class="panel-body panel-table-container">
						<table class="table table-bordered">
						  <tbody>
						    <tr>
						      <td><a href="#">Tanmay</a></td>
						      <td><a href="#">Bangalore</a></td>
						    </tr>
						    <tr>
						      <td><a href="#">Sachin</a></td>
						      <td><a href="#">Mumbai</a></td>
						    </tr>
						    <tr>
						      <td><a href="#">Uma</a></td>
						      <td><a href="#">Pune</a></td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						推荐圈子
					</div>
					<div class="panel-body panel-table-container">
						<table class="table table-bordered">
						  <tbody>
						    <tr>
						      <td><a href="#">Tanmay</a></td>
						      <td><a href="#">Bangalore</a></td>
						    </tr>
						    <tr>
						      <td><a href="#">Sachin</a></td>
						      <td><a href="#">Mumbai</a></td>
						    </tr>
						    <tr>
						      <td><a href="#">Uma</a></td>
						      <td><a href="#">Pune</a></td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						活跃圈友
					</div>
					<div class="panel-body">
						面板内容
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img style="width: 100%; height: 120px;" src="http://7xnv8i.com1.z0.glb.clouddn.com/leedane_2017061310460215.jpg!960.jpg"
			                 alt="通用的占位符缩略图" />
			            <div class="caption">
			                <h3>缩略图标签</h3>
			                <p>一些示例文本。一些示例文本。</p>
			                <p>
			                    <a href="#" class="btn btn-primary" role="button">按钮</a>
			                    <a href="#" class="btn btn-default" role="button">按钮</a>
			                </p>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img style="width: 100%; height: 120px;" src="http://7xnv8i.com1.z0.glb.clouddn.com/leedane_2017061310460215.jpg!960.jpg"
			                 alt="通用的占位符缩略图" />
			            <div class="caption">
			                <h3>缩略图标签</h3>
			                <p>一些示例文本。一些示例文本。</p>
			                <p>
			                    <a href="#" class="btn btn-primary" role="button">按钮</a>
			                    <a href="#" class="btn btn-default" role="button">按钮</a>
			                </p>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img style="width: 100%; height: 120px;"  src="http://7xnv8i.com1.z0.glb.clouddn.com/leedane_2017061310460215.jpg!960.jpg"
			                 alt="通用的占位符缩略图" />
			            <div class="caption">
			                <h3>缩略图标签</h3>
			                <p>一些示例文本。一些示例文本。</p>
			                <p>
			                    <a href="#" class="btn btn-primary" role="button">按钮</a>
			                    <a href="#" class="btn btn-default" role="button">按钮</a>
			                </p>
			            </div>
			        </div>
			    </div>
			    
			</div>
		</div>
	</div>
<script th:inline="javascript">
	var circleId = /*[[${circle.id}]]*/;//取账号值  
</script>
</body>
</html>