<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="'圈子《'+ ${circle.name}+'》'"></title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<script th:src="@{/page/js/page.js}" type="text/javascript"></script>
	<style type="text/css">
		#main-container{
			margin-top: 60px;
			/* width: 100%; */
		}
		
		.panel-table-container{
			padding: 0!important;
			padding-top: 8px !important;
			padding-bottom: 3px !important;
		}
		
		.panel-table-container table{
			margin-bottom: 0!important;
		}
		.panel-table-container .img-container{
			padding: 10px !important;
		}
		.panel-footer .glyphicon{
			vertical-align: middle; 
			top: 0px !important;
		}
		.post-tag{
			background: #EBEBEB;
		    padding: 7px 6px 5px;
		    margin-top: 5px;
		    line-height: 1;
		    font-size: 14px;
		    margin-right: 10px;
		    font-family: "Times New Roman",Georgia,Serif;
		    font-size: 10px;
		    color: #666;
		}
		
		
   		#post-list blockquote{
   			font-size: 15px!important;
   			/* border-left: 3px solid #ccc;
          	background-color:#f1f1f1;
          	font: 14px/22px normal helvetica, sans-serif; */
   		}
	</style>
</head>
<body th:attr="style='background-color: ' +(${setting.backgroundColor} == '#f5f5f5' ? '' : ${setting.backgroundColor})">
<div th:include="common :: hello">what?</div>
<script th:src="@{/page/js/circle/main.js}" type="text/javascript"></script>
	<div class="container" id="main-container">
		<div class="row">
			<div class="col-lg-3">
					<div class="row">
						<div class="thumbnail">
					      <div class="caption">
					        <h4>	<img alt="" width="30" height="30" class="img-circle" th:src="${circle.circlePath}" />
					        		<span th:if="${isLogin}" th:utext="${circle.name}"></span>
					        		<a th:if="${not isLogin}" href="javascript:void(0);" class="btn btn-default btn-sm" role="button" data-toggle="tooltip" title="请先登录" onclick="linkToLogin();">登录</a>
					        </h4>
					        <p>成员数：<span class="memberNumber">1</span></p>
					        <p>贡献值：<span id="myContribute">0</span>/<span id="allContribute">0</span></p>
					        <p>圈主：<a th:onclick="'linkToMy('+ ${createId} +');'" href="javascript:void(0);" th:utext="${createName}"></a></p>
					        <p>管理员：<span id="admins"></span>
					        </p>
					        <p>帖子总量：<span id="postNumbers">0</span></p>
					        <p>今日访问：<span id="todayVisitors">0</span></p>
					        <p>总访问：<span id="visitors">0</span></p>
					        <p>创建时间：<span th:text="${createTime}"></span></p>
					        <p class="cut-text" data-toggle="tooltip" th:title="${circle.circleDesc}">
					        	说明：<span th:text="${circle.circleDesc}"></span>
					        </p>
					        <p>
					        	<a th:if="${isCreater or inMember} and ${isClockIn}" href="javascript:void(0);" class="btn btn-primary btn-sm" role="button" data-toggle="tooltip" title="您今天已经打卡" disabled="disabled">已打卡</a>
					        	<a th:if="${isCreater or inMember} and ${not isClockIn}" href="javascript:void(0);" class="btn btn-primary btn-sm add-clock-in" role="button" data-toggle="tooltip" title="打卡的奖励为圈子专属">打卡</a>
								<a th:if="${not isCreater and not inMember}" href="javascript:void(0);" class="btn btn-default btn-sm into-circle" role="button" data-toggle="tooltip" title="申请加入该圈子">加入圈子</a>
								<a th:if="${not isCreater and inMember}" href="javascript:void(0);" class="btn btn-default btn-sm circle-leave" role="button" data-toggle="tooltip" title="退出该圈子">退出圈子</a>
								<a th:if="${isCreater} or ${isCircleAdmin}" th:href="'/cc/'+ ${circle.id} +'/setting'" class="btn btn-default btn-sm circle-setting" role="button" data-toggle="tooltip" title="圈子设置">设置</a>
								<a th:if="${isLogin} and ${inMember}" th:href="'/cc/'+ ${circle.id} +'/write'" class="btn btn-warning btn-sm circle-post" role="button" data-toggle="tooltip" title="发表关于该圈子的帖子">发帖</a>
								
								<a class="btn btn-sm btn-primary -mob-share-ui-button -mob-share-open" role="button">分享</a>
								<!--MOB SHARE BEGIN-->
								<div class="-mob-share-ui" style="display: none">
								    <ul class="-mob-share-list">
								        <li class="-mob-share-weibo"><p>新浪微博</p></li>
								        <li class="-mob-share-weixin"><p>微信</p></li>
								        <li class="-mob-share-qzone"><p>QQ空间</p></li>
								        <li class="-mob-share-qq"><p>QQ好友</p></li>
								        <!-- <li class="-mob-share-douban"><p>豆瓣</p></li>
								        <li class="-mob-share-facebook"><p>Facebook</p></li>
								        <li class="-mob-share-twitter"><p>Twitter</p></li> -->
								    </ul>
								    <div class="-mob-share-close">取消</div>
								</div>
								<div class="-mob-share-ui-bg"></div>
								<script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=6861f5e3c06685e06ffc07c8d06a7ba7"></script>
								<!--MOB SHARE END-->
								
							</p>
					      </div>
					    </div>
					</div>
					<div class="row">
						<div class="panel panel-default" th:if="${not #strings.isEmpty(setting.announce)}">
						    <div class="panel-heading">
						        <h3 class="panel-title">
						            	圈子公告栏
						        </h3>
						    </div>
						    <div class="panel-body" th:utext="${setting.announce}">
						    </div>
						</div>
						<div class="panel panel-default">
						    <div class="panel-heading">
						        <h3 class="panel-title">
						            	圈子成员(<span color="red" class="memberNumber">1</span>)
						        </h3>
						    </div>
						    <div class="panel-body">
						        <div class="row" th:if="${isLogin}">
						        	<div  th:each="member,memberStat : ${newestMembers}" class="col-lg-3 col-sm-3 col-md-3 col-xs-3" style="padding-left: 5px; padding-right: 5px;">
						        		 <img th:data="${member.member_id}" data-toggle="tooltip" data-placement="left" th:title="${member.account}" class="img-circle img-responsive hand user-img" style="width: 100%; height: 65px;" th:src="${member.user_pic_path}" />
						        	</div>
						        	
						        </div>
						        
						        <div th:if="${isLogin}" class="row pull-right" style="margin-top: 8px; margin-right: 0px;">
						        	<a th:href="'/cc/' + ${circle.id} +'/member-list'">查看更多</a>
						        </div>
						        <div class="row" th:if="${not isLogin}">
						        	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
						         		登录才能查看
						         	</div>
						        </div>
						    </div>
						</div>
						
						<div class="panel panel-default">
						    <div class="panel-heading">
						        <h3 class="panel-title">
						            	活跃成员
						        </h3>
						    </div>
						    <div class="panel-body">
						        <div class="row" th:if="${isLogin}">
						        	<div  th:each="member,memberStat : ${hotestMembers}" class="col-lg-3 col-sm-3 col-md-3 col-xs-3" style="padding-left: 5px; padding-right: 5px;">
						        		 <img th:data="${member.member_id}" data-toggle="tooltip" data-placement="left" th:title="${member.account}" class="img-circle img-responsive hand user-img" style="width: 100%; height: 65px;" th:src="${member.user_pic_path}" />
						        	</div>
						        	
						        </div>
						        
						        <div th:if="${isLogin} and ${#lists.size(hotestMembers)} gt 4" class="row pull-right" style="margin-top: 8px; margin-right: 0px;">
						        	<a href="'/cc/' + ${circle.id} +'/member-list'">查看更多</a>
						        </div>
						        <div class="row" th:if="${not isLogin}">
						        	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
						         		登录才能查看
						         	</div>
						        </div>
						    </div>
						</div>
						<div class="panel panel-default" th:if="${#lists.size(recommendMembers)} gt 0">
						    <div class="panel-heading">
						        <h3 class="panel-title">
						            	推荐成员
						        </h3>
						    </div>
						    <div class="panel-body">
						        <div class="row" th:if="${isLogin}">
						        	<div th:each="member,memberStat : ${recommendMembers}" class="col-lg-3 col-sm-3 col-md-3 col-xs-3" style="padding-left: 5px; padding-right: 5px;">
						        		 <img th:data="${member.member_id}" data-toggle="tooltip" data-placement="left" th:title="${member.account}" class="img-circle img-responsive hand user-img" style="width: 100%; height: 65px;" th:src="${member.user_pic_path}" />
						        	</div>
						        	
						        </div>
						        
						        <div th:if="${isLogin} and ${#lists.size(recommendMembers)} gt 4" class="row pull-right" style="margin-top: 8px; margin-right: 0px;">
						        	<a href="'/cc/' + ${circle.id} +'/member-list'">查看更多</a>
						        </div>
						        <div class="row" th:if="${not isLogin}">
						        	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
						         		登录才能查看
						         	</div>
						        </div>
						    </div>
						</div>
						
						<div class="panel panel-default">
						    <div class="panel-heading">
						        <h3 class="panel-title">
						            	我的帖子(<span color="red" th:if="${circleUserPosts != null}" th:utext="${circleUserPosts.total}"></span>)
						        </h3>
						    </div>
						    <div th:if="${circleUserPosts != null}" class="panel-body panel-table-container">
						        <table class="table table-bordered table-fix" style="border: 0!important;">
								  <tbody>
								    <tr th:each="postEven,postStat : ${circleUserPosts.posts}">
								      	<td valign="middle" class="cut-text" data-toggle="tooltip" data-placement="right" th:title="${postEven.title}"><a target="_blank" th:href="'/cc/circle/'+ ${postEven.circleId} +'/post/' + ${postEven.id}" th:utext="${postEven.title}">笑话精刚刚灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌选</a></td>
								     	<td valign="middle" style="width: 80px;" th:text="${postEven.createTime}">
								    		一个月前
								    	</td>
								    </tr>
								  </tbody>
								</table>
						    </div>
						</div>
					</div>
			</div>
			<div class="col-lg-9" >
				<div id="post-list">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p>胖迪2017-06-21广州行日程安排</p>
							<div>
								<button type="button" class="btn btn-default btn-xs">
								  <img src="http://7xnv8i.com1.z0.glb.clouddn.com/10_10_20160430172759_489c15f4d74a11151fa92c53f63acdd8.jpg" class="img-circle" style="width: 20px; height: 20px" /> 管理员
								</button>&nbsp;&nbsp;5天前
							</div>
							<p style="margin-top: 10px;">
								标签：<span class="post-tag">测试</span><span class="post-tag">测试1</span><span class="post-tag">dane</span>
							</p>
							<div class="pull-right" title="Title" data-container="body" data-toggle="popover" data-content="Popover 中的一些内容 —— options 方法 ">
								<img src="/page/images/more.png" class="" style="width: 20px; height: 20px" />
							</div>
						</div>
						<div class="panel-body panel-table-container">
							<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
								<blockquote>
									<div class="cut-text hand"><a data-toggle="tooltip" data-placement="left" title="查看该帖子详细信息">这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈这是真的吗？哈哈</a></div>
									<small><cite>leedane</cite>&nbsp;&nbsp;一天前</small>
								</blockquote>
							</div>
							<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 cut-text2">
								这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容。
				            	这是一个基本的面板内容。这是一个基本的面板内容
							</div>
			
							<div class="col-lg-4 col-sm-4 col-md-12 col-xs-12 img-container">
								<img src="http://7xnv8i.com1.z0.glb.clouddn.com/default_no_pic20170613.jpg" width="100%" height="180px" class="img-responsive" onClick="" />
							</div>
							<div class="col-lg-4 col-sm-4 col-md-12 col-xs-12 img-container">
								<img src="http://7xnv8i.com1.z0.glb.clouddn.com/default_no_pic20170613.jpg" width="100%" height="180px" class="img-responsive" onClick="" />
							</div>
							<div class="col-lg-4 col-sm-4 col-md-12 col-xs-12 img-container">
								<img src="http://7xnv8i.com1.z0.glb.clouddn.com/default_no_pic20170613.jpg" width="100%" height="180px" class="img-responsive" onClick="" />
							</div>
									
						</div>
						<div class="panel-footer" style="color: #666;">
							<p>
								<img src="http://7xnv8i.com1.z0.glb.clouddn.com/10_10_20160430172759_489c15f4d74a11151fa92c53f63acdd8.jpg" class="img-circle" style="width: 20px; height: 20px" />&nbsp;<img src="http://7xnv8i.com1.z0.glb.clouddn.com/1_1_20160727183009_1469401739017.jpg" class="img-circle" style="width: 20px; height: 20px" />&nbsp;<img src="http://7xnv8i.com1.z0.glb.clouddn.com/e6c48b7a-acc2-44ca-9a2c-b36c95489680_861530.jpg" class="img-circle" style="width: 20px; height: 20px" />&nbsp;等10人觉得很赞
							</p>
							<p>
								<span class="glyphicon glyphicon-trash hand" aria-hidden="true"></span>&nbsp;&nbsp;
								<span class="glyphicon glyphicon-comment hand" aria-hidden="true"></span>&nbsp;0&nbsp;&nbsp;
								<span class="glyphicon glyphicon-share-alt hand" aria-hidden="true"></span>&nbsp;1110&nbsp;&nbsp;
								<span class="glyphicon glyphicon-thumbs-up hand" aria-hidden="true"></span>&nbsp;0&nbsp;&nbsp;
								<span class="glyphicon glyphicon-credit-card hand" aria-hidden="true"></span>&nbsp;0&nbsp;&nbsp;
								查看详情
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-lg-8 col-lg-offset-2">
		   			<nav aria-label="Page navigation">
	  					<ul class="pagination"></ul>
					</nav>
		   		</div>
			</div>
			
		</div>
	</div>
<script th:inline="javascript">
	var circleId = /*[[${circle.id}]]*/;//取账号值  
	var isCircleAdmin = /*[[${isCircleAdmin}]]*/;//取账号值  
	var isCreater = /*[[${isCreater}]]*/;//取账号值  
</script>
</body>
</html>