<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="'圈子《'+ ${circle.name}+'》的成员列表'">圈子的成员列表</title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<script th:src="@{/page/js/page.js}" type="text/javascript"></script>
	<style type="text/css">
		
		.container{
			margin-top: 50px;
		}
		.row{
			margin-top: 8px;
		}
	</style>
</head>
<body>
<div th:include="common :: hello">what?</div>
<script th:src="@{/page/js/circle/member-list.js}" type="text/javascript"></script>
</body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<button type="button" class="btn btn-warning btn-sm" data-placement="left" data-toggle="tooltip" title="点击进入圈子中心" th:text="${circle.name}" th:onclick="'linkToCircle('+ ${circle.id} +')'"></button>
				<button type="button" class="btn btn-info btn-sm" data-placement="left" data-toggle="tooltip" title="更多该圈子的基本设置" >更多设置</button>
			</div>
		</div>
		<div class="row">
					<div class="col-lg-12" style="margin: 10px;">
		    			<div class="table-responsive">
								<table class="table table-fix">
									<!-- <caption>响应式表格布局</caption> -->
									<thead>
										<tr>
											<th width="30"></th>
											<th width="150">账号</th>
											<th>贡献值</th>
											<th>权限</th>
											<th>是否推荐</th>
											<th width="100">加入时间</th>
											<th width="140">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td width="30"><img alt="" src="#" width="25" height="25"/></td>
											<td width="150" class="cut-text">圈子圈子圈子圈子圈子圈子圈子名称名称名称名称名称名称名称</td>
											<td>贡献值</td>
											<td>权限</td>
											<td>是否推荐</td>
											<td width="100">时间</td>
											<td width="140">操作</td>
										</tr>
									</tbody>
							</table>
				    	</div>
			    	</div>
					<div class="col-lg-8 col-lg-offset-2">
			   			<nav aria-label="Page navigation">
		  					<ul class="pagination"></ul>
						</nav>
			   		</div>
		</div>
	</div>
<script th:inline="javascript">//引用
	var circleId = /*[[${circle.id}]]*/;//取值
	var canAdmin = /*[[${canAdmin}]]*/;//取值
</script> 
</html>