<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="${post.title}"></title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<link th:if="${not isDebug}" rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.4/css/layui.css"  media="all" />
	<link th:if="${isDebug}" rel="stylesheet" href="/page/other/layui-v2.5.4/css/layui.css"  media="all" />
	<link th:if="${not isDebug}" rel="stylesheet" th:href="@{/page/css/circle/post-detail.min.css}" />
	<link th:if="${isDebug}" rel="stylesheet" th:href="@{/page/css/circle/post-detail.css}" />
	<style type="text/css"></style>
</head>
<body th:attr="style='background-color: ' +(${setting.backgroundColor} == '#f5f5f5' ? '' : ${setting.backgroundColor})">
	<div th:include="common :: hello">what?</div>
	<div th:class="${nonav == null || nonav == false} ? 'container main-container': 'container' ">
		<div class="row adapter-row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12" id="content-container">
				<div class="row">
					<button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip" title="点击进入圈子中心" th:text="${circle.name}" th:onclick="'linkToCircle('+ ${circle.id} +')'"></button>
				</div>
			   <div class="row">
			   		<p th:utext="${post.title}" style="font-size: 25px; font-weight: bolder;"></p>
					<p style="color: #666;">
						<!--<button type="button" class="btn btn-default btn-xs user-img" data="'+ post.createUserId +'">
								  <img th:src="${create_user_pic_path}" class="img-circle" style="width: 20px; height: 20px" /> <span th:text="${create_user_account}"></span>
						</button>
						<span id="post-create-time" class="label label-primary"></span>
						<span th:if="${canDelete}" class="glyphicon glyphicon-trash post-delete hand" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="删除"></span>&nbsp;&nbsp;
						<span class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="评论"></span>&nbsp;<span th:text="${comment_number}"></span>&nbsp;&nbsp;
						<span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="转发"></span>&nbsp;<span th:text="${transmit_number}"></span>&nbsp;&nbsp;
						<span class="glyphicon glyphicon-thumbs-up hand post-zan" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="很赞"></span>&nbsp;<span th:text="${zan_number}"></span>&nbsp;&nbsp;
						<span class="glyphicon glyphicon-credit-card hand" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="打赏"></span>-->
						<span id="b-account" th:onclick="'linkToMy(+ ${post.create_user_id} +);'">
							<img class="img-circle" style="width: 20px; height: 20px; margin-top: -3px;" th:src="${user_pic_path}" /><span id="b-account-text" th:text="${account}"></span>
						</span>
							<span id="operate-list" style="margin-left: 16px;">
							<span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="时间"></span>
							<label id="post-create-time"></label>&nbsp;&nbsp;
							<span href="#comment" class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="评论"></span>&nbsp;
							<label id="b-comment-number" th:text="${comment_number}"></label>&nbsp;&nbsp;
							<span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="转发"></span>&nbsp;
							<label id="b-transmit-number" th:text="${transmit_number}"></label>&nbsp;&nbsp;
							<span class="glyphicon glyphicon-thumbs-up hand post-zan" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="很赞"></span>&nbsp;
							<label id="b-zan-number" th:text="${zan_number}"></label>&nbsp;&nbsp;
							<span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="阅读"></span>&nbsp;
							<label id="b-read-number" th:text="${read_number}"></label>&nbsp;&nbsp;
							<span th:if="${canDelete}" class="glyphicon glyphicon-trash post-delete hand" data-toggle="tooltip" data-placement="left" title="" aria-hidden="true" data-original-title="删除"></span>&nbsp;&nbsp;
						</span>
					</p>
			   		<div id="zan-users"></div>
			   		<div class="row-content" th:utext="${post.content}"></div>
			   		<div class="row" style="margin-top: 5px;" th:if="${post.imgs != null} and ${post.imgs != ''}">
				   		<div id="img-container">
					   		<!-- <div class="col-lg-4" th:each="img,imgStat : ${post.imgs.split(';')}">
					   			<img th:src="${img}" class="img-responsive post-item-img" onClick="" />
					   		</div> -->
				   		</div>
				   </div>
			   </div>
			   <div class="row" id="comment">
			   		<div class="col-lg-12" th:if="${not isLogin}" style="text-align: center;">
					        您还未登录，无法参与评论 <a type="button" class="btn btn-info" href="javascript:void(0);" onclick="linkToLogin();">登录</a>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${isLogin}" style="text-align: center;">
						<div class="row">
							<textarea class="form-control" name="add-comment" placeholder="评论/转发这篇帖子，最多250个文字。" style="min-height: 125px;" autofocus ="true"></textarea>
						</div>
						<div class="row">
								<!--MOB SHARE BEGIN-->
								<div class="-mob-share-ui" style="display: none">
								    <ul class="-mob-share-list">
								        <li class="-mob-share-weibo"><p>新浪微博</p></li>
								        <li class="-mob-share-weixin"><p>微信</p></li>
								        <li class="-mob-share-qzone"><p>QQ空间</p></li>
								        <li class="-mob-share-qq"><p>QQ好友</p></li>
								        <!-- <li class="-mob-share-douban"><p>豆瓣</p></li>
								        <li class="-mob-share-facebook"><p>Facebook</p></li>
								        <li class="-mob-share-twitter"><p>Twitter</p></li> -->
								    </ul>
								    <div class="-mob-share-close">取消</div>
								</div>
								<div class="-mob-share-ui-bg"></div>
								<script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=6861f5e3c06685e06ffc07c8d06a7ba7"></script>
								<!--MOB SHARE END-->
							<button class="btn btn-md btn-primary btn-block pull-right post-comment" type="button" style="margin-top: 10px; width: 60px; ">评论</button>
							<button class="btn btn-md btn-primary btn-block pull-right post-transmit" type="button" style="margin-top: 10px; width: 60px; margin-right: 5px;">转发</button>
							<button class="btn btn-md btn-primary btn-block pull-right -mob-share-ui-button -mob-share-open" type="button" style="margin-top: 10px; width: 60px; margin-right: 5px;">分享</button>
						</div>
					</div>
			   </div>
			   <div class="row" id="comment-list-container"></div>
			   <div id="item-pager"></div>
			</div>
		</div>
	</div>
</body>
<div th:include="common-bottom :: bottom">bottom?</div>
<div th:include="common-js :: commJs">what?</div>
<script th:inline="javascript">//引用  
	/*<![CDATA[*/  
	var zanUsers = /*[[${zan_users}]]*/;//取值  zan_number
	var zanNumber = /*[[${zan_number}]]*/;//取值
	var postId = /*[[${post.id}]]*/;//取值
	var circleId = /*[[${post.circleId}]]*/;//取值
	var createUserId = /*[[${post.createUserId}]]*/;//取值
	var audit = /*[[${audit}]]*/;//取值
	var imgs = /*[[${post.imgs}]]*/;//取值
	var postCreate_time = /*[[${create_time}]]*/;//取值
	
	/*]]>*/  
</script>
<script th:if="${not isDebug}" th:src="@{/page/js/page.min.js}" type="text/javascript"></script>
<script th:if="${isDebug}" th:src="@{/page/js/page.js}" type="text/javascript"></script>
<script th:if="${not isDebug}" th:src="@{/page/js/circle/post-detail.min.js}" type="text/javascript"></script>
<script th:if="${isDebug}" th:src="@{/page/js/circle/post-detail.js}" type="text/javascript"></script>
</html>