<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="${uaccount}+'的留言板'"></title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<script th:src="@{/page/js/page.js}" type="text/javascript"></script>
	<link th:if="${not isDebug}" rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.4/css/layui.css"  media="all" />
	<link th:if="${isDebug}" rel="stylesheet" href="/page/other/layui-v2.5.4/css/layui.css"  media="all" />
	<link th:if="${not isDebug}" rel="stylesheet" th:href="@{/page/css/board.min.css}" />
	<link th:if="${isDebug}" rel="stylesheet" th:href="@{/page/css/board.css}" />
	<style type="text/css"></style>
</head>
<body>
<div th:include="common :: hello">what?</div>
<div id="particles-js"></div>
<!-- <link href="http://cdn.staticfile.org/emoji/0.2.2/emoji.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.staticfile.org/jquery/2.1.0/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/emoji/0.2.2/emoji.js"></script>
jEmoji.unifiedToHTML(emojiText) -->
</body>
	<div class="container">
	   <div class="row" id="comment">
			<div class="col-lg-8 col-lg-offset-2" th:if="${isLogin}" style="text-align: center;" >
				<div class="row">
					<textarea class="form-control" name="add-comment" th:placeholder="'给'+${uaccount}+'留个言吧！最多250个文字。'" placeholder="" style="min-height: 125px;" autofocus ="true"></textarea>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<button class="btn btn-md btn-primary btn-block pull-right" type="button" style="margin-top: 10px;width: 80px;" onclick="addComment(this);">留言</button>
					</div>
				</div>
			</div>
	   </div>
	   <div class="row">
	   		<div class="col-lg-8 col-lg-offset-2" id="comment-list-container"></div>
	   </div>
		<div class="row">
	   		<div class="col-lg-8 col-lg-offset-2" style="background-color: #fff;">
	   			<div id="item-pager" style="margin-left: 15px;"></div>
	   		</div>
	   </div>
	</div>
<div th:include="common-bottom :: bottom">bottom?</div>
<div th:include="common-js :: commJs">what?</div>

<script th:inline="javascript">//引用
	/*<![CDATA[*/
	var bid = /*[[${bid}]]*/;//取值
	/*]]>*/
	var uid = /*[[${uid}]]*/;//取值
</script>

<link th:if="${isDebug}" rel="stylesheet" th:href="@{/page/other/particles-js/particles-style.css}"  media="all" />
<link th:if="${not isDebug}" rel="stylesheet" th:href="@{http://pic.onlyloveu.top/default_particles-style.css}"  media="all" />
<!-- scripts -->
<script th:if="${isDebug}" th:src="@{/page/other/particles-js/particles.min.js}" type="text/javascript"></script>
<script th:if="${not isDebug}" th:src="@{http://pic.onlyloveu.top/default_particles.min.js}" type="text/javascript"></script>
<script th:if="${isDebug}" th:src="@{/page/other/particles-js/particles-common.js}" type="text/javascript"></script>
<script th:if="${not isDebug}" th:src="@{http://pic.onlyloveu.top/default_particles-common.js}" type="text/javascript"></script>
<script th:if="${not isDebug}" th:src="@{/page/js/board.min.js}" type="text/javascript"></script>
<script th:if="${isDebug}" th:src="@{/page/js/board.js}" type="text/javascript"></script>

</html>