<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<title>404页面</title>
	
</head>
<body>
	<div th:include="common :: hello">what?</div>
	<div th:include="common-js :: commJs">what?</div>
	<div class="shop-top"></div>
</body>
</html>