<!DOCTYPE html>
<html th:fragment="helloMall">
<head>
  <meta charset="utf-8" />
  <title>common</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
  <style type="text/css">
  	body{
  		background-color: #f5f5f5 !important;
  	}
  	
  	.nav-height{
 		line-height: 45px !important;
  	}
  	
  	.layui-nav-child{
		top: 45px !important;
  	}
  	
  	.layui-nav-more{
  		top: 19px !important;
  	}
  	
  	.layui-nav-mored{
  		top: 13px !important;
  	}
  	.hand{
 		cursor: pointer;
  	}

  	.layui-nav .layui-nav-more{
  	  margin-top: 0!important;
  	}
  </style>
</head>
<body>
<ul class="layui-nav">
  <li class="layui-nav-item nav-height">
    <a href="/mall/index">LeeMall<!-- <span class="layui-badge">9</span> --></a>
  </li>
  <li class="layui-nav-item nav-height">
    <a href="/mall/wish">心愿单<span class="layui-badge" id="wishNumber">0</span></a>
  </li>
  <li class="layui-nav-item nav-height">
    <a href="/mall/s" target="_blank">搜索</a>
  </li>
  <li class="layui-nav-item nav-height" th:if="${isLogin}">
    <a href="javascript:;"><img th:src="${user_pic_path}" style="width: 30px; height: 30px;" class="layui-nav-img" /><span th:utext="${account}"></span></a>
    <dl class="layui-nav-child">
      <dd><a href="/mall/order">我的订单<span class="layui-badge" id="noDealOrderNumber">0</span></a></dd>
      <dd><a href="/mall/promotion/index">推广管理</a></dd>
      <dd th:if="${isAdmin}"><a href="/mall/home/manager">首页管理</a></dd>
      <dd><a href="javascript:;">修改信息</a></dd>
      <dd><a href="/mall/product/manager">商品管理</a></dd>
      <dd><a href="/mall/shop/manager">店铺管理</a></dd>
      <dd><a href="javascript:;">安全管理</a></dd>
      <dd><a href="javascript:void(0);" onclick="logout();">退了</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item nav-height" th:if="${not isLogin}">
    <a th:href="@{/lg?ref=/mall/index}">请先登录</a>
  </li>
</ul>         
</body>

</html>