<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="'我的订单'"></title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<style type="text/css">
		
		/**  大屏样式 **/
		@media screen and (min-width: 900px){
			
		}
		
		/**  小屏样式 **/
		@media screen and (max-width: 900px){
			
		}
		
		.laytable-cell-1-10{
			width: 180px!important;
		}
		
	</style>
</head>
<body>
<div th:include="mall/commonMall :: helloMall">what?</div>
<div class="layui-container">
	<div class="layui-row">
		<div class="layui-col-md12 layui-col-xs12">
			
			<div class="layui-btn-group order-group" style="margin-top: 5px;">
			  <button class="layui-btn new-order-btn" data-type="newOrder">新订单</button>
			</div>
			 <div id="new-order-container" style="display: none;">
				<form class="layui-form" id="order-form" action="">
				  <div class="layui-form-item">
				    <label class="layui-form-label">订单编号</label>
				    <div class="layui-input-inline">
				      <input type="text" name="order_code" lay-verify="required" autocomplete="off" placeholder="请输入订单编号" class="layui-input" />
				    </div>
				    <div class="layui-form-mid layui-word-aux">请填写所在平台下订单的订单编号</div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">商品编号</label>
				    <div class="layui-input-inline">
				      <input type="text" name="product_code" lay-verify="required" placeholder="请输入商品编号" autocomplete="off" class="layui-input" />
				    </div>
				    <div class="layui-form-mid layui-word-aux">请填写所在平台下订单的商品的ID</div>
				  </div>
				  <div class="layui-form-item">
				    <div class="layui-inline">
				      <label class="layui-form-label">订单日期</label>
				      <div class="layui-input-inline">
				        <input type="text" name="order_date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" />
				      </div>
				      <div class="layui-form-mid layui-word-aux">请填写所在平台下订单的日期</div>
				    </div>
				  </div>
				  
				  <div class="layui-form-item">
				    <label class="layui-form-label">标题</label>
				    <div class="layui-input-inline">
				      <input type="text" name="title" placeholder="" autocomplete="off" class="layui-input" />
				    </div>
				    <div class="layui-form-mid layui-word-aux">用于展示用的，非必填项</div>
				  </div>
				  
				  <div class="layui-form-item">
				    <div class="layui-inline">
				      <label class="layui-form-label">购物平台</label>
				      <div class="layui-input-inline">
				        <select name="platform" lay-verify="required" lay-search="">
				          <option value="">请选择购物平台</option>
				          <option value="天猫" selected="selected">天猫</option>
				          <option value="淘宝网">淘宝网</option>
				          <option value="京东">京东</option>
				        </select>
				      </div>
				    </div>
				  </div>
				  
				  <div class="layui-form-item">
				    <label class="layui-form-label">推荐人</label>
				    <div class="layui-input-inline">
				      <input type="text" name="referrer" placeholder="请填写对方的推荐码" autocomplete="off" class="layui-input" />
				    </div>
				    <div class="layui-form-mid layui-word-aux">如果有推荐人，请如实填写对方的推荐码</div>
				  </div>
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn" lay-submit="" lay-filter="new-order-form-submit">立即提交</button>
				      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    </div>
				  </div>
				</form>
			</div>
			<table class="layui-table" lay-data="{height:'full-100', url:'/mall/order/paging', page:true, id:'idTest'}" lay-filter="demo">
			  <thead>
			    <tr>
			    <!-- <th lay-data="{type:'numbers'}"></th> -->
			    
			      <!-- <th lay-data="{type:'checkbox'}"></th> -->
			      <th lay-data="{field:'id', width:60, sort: true}">ID</th>
			      <!-- <th lay-data="{field:'product_id', width:80, sort: true}">商品ID</th> -->
			      <th lay-data="{field:'order_code', width:120}">订单编码</th>
			      <th lay-data="{field:'product_code', width:120, sort: true}">商品唯一编码</th>
			      <th lay-data="{field:'title', width:180}">标题</th>
			      <th lay-data="{field:'referrer', width:100}">推荐人</th>
			      <th lay-data="{field:'platform', width:80}">平台</th>
			      <th lay-data="{field:'order_date', width:120}">下单日期</th>
			      <th lay-data="{field:'price', width:80, sort: true}">价格</th>
			      <th lay-data="{field:'cash_back_ratio', width:90, sort: true}">预计比率</th>
			      <th lay-data="{field:'cash_back', width:90, sort: true}">预计佣金</th>
			      <th lay-data="{width:200, align:'center', toolbar: '#barDemo'}"></th>
			    </tr>
			  </thead>
			</table>
			
			<script type="text/html" id="barDemo">
  				<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" style="height: 25px !important; line-height: 25px !important;">编辑</a>
  				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style="height: 25px !important; line-height: 25px !important;">删除</a>
			</script>
		</div>
	</div>
</div>


</body>
<div th:include="mall/commonMall-js :: mallJs">what?</div>
<script th:src="@{/page/js/mall/order.js}" type="text/javascript"></script>
<script th:inline="javascript">
  
</script>
</html>