<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="'商品管理'"></title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<style type="text/css">

		/**  大屏样式 **/
		@media screen and (min-width: 900px){

		}

		/**  小屏样式 **/
		@media screen and (max-width: 900px){

		}

		.laytable-cell-1-10{
			width: 180px!important;
		}

	</style>
</head>
<body>
<div th:include="mall/commonMall :: helloMall">what?</div>
<div class="layui-container">
	<div class="layui-row">
		<div class="layui-col-md12 layui-col-xs12" style="margin-top: 10px;">
			<button class="layui-btn layui-btn-normal" onclick="createSelectProductModal(this, 1, 'addCarousel');">添加商品</button>
		</div>
		<div class="layui-col-md12 layui-col-xs12">
			<!-- <div class="layui-btn-group demoTable">
			  <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
			  <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
			  <button class="layui-btn" data-type="isAll">验证是否全选</button>
			</div> -->

			<table class="layui-table" lay-data="{height:'full-100', url:'/mall/wishs/', page:true, id:'idTest'}" lay-filter="demo">
				<thead>
				<tr>
					<!-- <th lay-data="{type:'numbers'}"></th> -->

					<!-- <th lay-data="{type:'checkbox'}"></th> -->
					<th lay-data="{field:'id', width:60, sort: true}">ID</th>
					<!-- <th lay-data="{field:'product_id', width:80, sort: true}">商品ID</th> -->
					<th lay-data="{field:'shopName', width:100}">店铺名</th>
					<th lay-data="{field:'category', width:70, sort: true}">分类</th>
					<th lay-data="{field:'title', width:180}">标题</th>
					<th lay-data="{field:'digest', width:120}">简介</th>
					<th lay-data="{field:'platform', width:80}">平台</th>
					<th lay-data="{field:'price', width:80, sort: true}">价格</th>
					<th lay-data="{field:'oldPrice', width:80, sort: true}">原价格</th>
					<th lay-data="{field:'cashBackRatio', width:90, sort: true}">预计比率</th>
					<th lay-data="{field:'cashBack', width:90, sort: true}">预计佣金</th>
					<th lay-data="{width:300, align:'center', toolbar: '#barDemo'}"></th>
				</tr>
				</thead>
			</table>

			<script type="text/html" id="barDemo">
				<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" style="height: 25px !important; line-height: 25px !important;">查看</a>
				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style="height: 25px !important; line-height: 25px !important;">删除</a>
			</script>
		</div>
	</div>
</div>


</body>
<div th:include="mall/commonMall-js :: mallJs">what?</div>
<!-- <script th:src="@{/page/js/mall/wish.js}" type="text/javascript"></script> -->
<script th:if="${not isDebug}" th:src="@{/page/js/mall/select-product.min.js}" type="text/javascript"></script>
<script th:if="${isDebug}" th:src="@{/page/js/mall/select-product.js}" type="text/javascript"></script>
<script th:inline="javascript">
layui.use('table', function(){
  var table = layui.table;
  //监听表格复选框选择
  table.on('checkbox(demo)', function(obj){
    console.log(obj)
  });
  //监听工具条
  table.on('tool(demo)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      //layer.msg('ID：'+ data.id + ' 的查看操作');
      linkToProduct(data.product_id);
    } else if(obj.event === 'del'){
      	layer.confirm('真的删除该心愿单么', function(index){
		var loadi = layer.load('努力加载中…'); //需关闭加载层时，执行layer.close(loadi)即可
		$.ajax({
			type : "DELETE",
			url : "/mall/wish/"+ data.id,
			dataType: 'json',
			success : function(data) {
				layer.close(loadi);
				if(data.isSuccess){
					obj.del();
					layer.msg("心愿单删除成功，2秒后将自动刷新");
					reloadPage(2000);
				}else{
					ajaxError(data);
				}
			},
			error : function(data) {
				ajaxError(data);
			}
		});
      });
    } else if(obj.event === 'edit'){
      /* layer.alert('编辑行：<br />'+ JSON.stringify(data)) */
    }
  });

  var $ = layui.$, active = {
    getCheckData: function(){ //获取选中数据
      var checkStatus = table.checkStatus('idTest')
      ,data = checkStatus.data;
      layer.alert(JSON.stringify(data));
    }
    ,getCheckLength: function(){ //获取选中数目
      var checkStatus = table.checkStatus('idTest')
      ,data = checkStatus.data;
      layer.msg('选中了：'+ data.length + ' 个');
    }
    ,isAll: function(){ //验证是否全选
      var checkStatus = table.checkStatus('idTest');
      layer.msg(checkStatus.isAll ? '全选': '未全选')
    }
  };

  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>
</html>