/**  大屏样式 **/
@media screen and (min-width: 900px){

 }

 /**  小屏样式 **/
 @media screen and (max-width: 900px){

 }
 #allot-dl{
 }
 #allot-dl dd{
      height: 40px;
      line-height: 40px;
      border: 1px solid #f5f5f5;
      background-color: #fff;
}

 #allot-dl a{
    margin-left: 50px;
 }

 #allot-dl dd:hover{
    background: #f5f5f5;
}
#allot-dl span{
    width: 250px;
    display: inline-block;
    text-align: center;
}
.layui-table, .layui-table-view {
    margin: 0 0!important;
}