<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.clock.ClockDynamicMapper">
	<select id="dynamics" resultMap="objectDynamicBean">
		select d.id, d.status, d.create_user_id, date_format(d.create_time,'%Y-%m-%d %H:%i:%s') create_time
				,d.clock_id, d.dynamic_desc, d.message_type
			from t_clock_dynamic d
			inner join t_clock c on c.id = d.clock_id 
			where d.`status` = 1 and d.clock_id = #{clockId}
			<if test="publicity == true"> 
				and d.publicity = true
			</if>
			order by d.create_time desc, d.id desc limit #{start}, #{pageSize}
	</select>
   
   <resultMap type="com.cn.leedane.model.clock.ClockDynamicBean" id="objectDynamicBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyUserId" column="modify_user_id"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="clockId" column="clock_id"/>
        <result property="dynamicDesc" column="dynamic_desc"/>
	   <result property="messageType" column="message_type"/>
   </resultMap>
</mapper>