<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.clock.ClockInMapper">
	<select id="getClockInsRangeDate" resultType="java.util.Map">
		SELECT COUNT(id) number, date_format(clock_date, '%Y-%m-%d') clock_date
		from t_clock_in 
		where clock_id = #{clockId} and `status` = 1 and clock_date &gt;= date_format(#{start}, '%Y-%m-%d') and clock_date &lt;= date_format(#{end}, '%Y-%m-%d')  
		GROUP BY clock_date 
		ORDER BY clock_date desc
	</select>
	
	<select id="getTopMember" resultType="java.util.Map">
		SELECT COUNT(ci.id) number, ci.create_user_id, date_format(cm.create_time, '%Y-%m-%d %H:%i:%s') create_time
		from t_clock_in ci INNER JOIN t_clock_member cm on ci.create_user_id = cm.member_id and ci.clock_id = cm.clock_id and cm.`status` = 1
		where ci.clock_id = #{clockId} and ci.`status` = 1 
		GROUP BY ci.create_user_id 
		ORDER BY number desc, cm.create_time
		<if test="limit > 0">
			limit #{limit}
		</if>
	</select>

	<select id="membersSortByIns" resultType="java.util.Map">
		SELECT ci.id inId, cm.create_user_id, cm.member_id, ci.create_time create_time
		from t_clock_member cm LEFT JOIN t_clock_in ci on ci.create_user_id = cm.member_id and ci.clock_id = cm.clock_id and ci.`status` = 1 and ci.clock_date = #{date}
		where cm.clock_id = #{clockId} and cm.`status` = 1
		ORDER BY ci.create_time is null, ci.create_time asc, cm.create_time
		<if test="limit > 0">
			limit #{limit}
		</if>
	</select>

	<select id="getUserClockIn" resultMap="objectBean">
		SELECT i.id, i.`status`, i.create_user_id, date_format(i.create_time, '%Y-%m-%d %H:%i:%s') create_time, i.modify_user_id, date_format(i.modify_time, '%Y-%m-%d %H:%i:%s') create_time,
		i.froms, i.clock_id, i.clock_date, i.location, i.step ,
		ii.id resource_id, ii.resource, ii.main resource_main, ii.resource_type resource_type,
		c.create_user_id clock_create_user_id
		FROM t_clock_in i
		INNER JOIN t_clock c on c.id = i.clock_id and c.`status` = 1
		LEFT JOIN t_clock_in_resources ii ON ii.clock_in_id = i.id and ii.`status` = 1
		WHERE i.clock_id = #{clockId} AND i.clock_date = date_format(#{date}, '%Y-%m-%d') AND i.create_user_id = #{toUserId}
	</select>

	<resultMap type="com.cn.leedane.display.clock.ClockInDisplay" id="objectBean">
		<id property="id" column="id"/>
		<result property="status" column="status"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="createTime" column="create_time"/>
		<result property="modifyUserId" column="modify_user_id"/>
		<result property="modifyTime" column="modify_time"/>
		<result property="froms" column="froms"/>
		<result property="clockId" column="clock_id"/>
		<result property="clockDate" column="clock_date"/>
		<result property="clockCreateUserId" column="clock_create_user_id"/>
		<result property="location" column="location"/>
		<result property="step" column="step"/>
		<collection property="resources" ofType="com.cn.leedane.display.clock.ClockInResourceDisplay">
			<!-- id:订单明细唯一标识
                property:要将订单明细的唯一标识映射到cn.higgin.mybatis.po.Orderdetail的对应属性 -->
			<id property="id" column="resource_id"/>
			<result property="resource" column="resource"/>
			<result property="main" column="resource_main"/>
			<result property="resourceType" column="resource_type"/>
		</collection>
	</resultMap>
</mapper>