<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.clock.ClockInResourcesMapper">
    <select id="resources" resultMap="objectBean">
        SELECT cir.id, cir.`status`, cir.create_user_id, date_format(cir.create_time,'%Y-%m-%d') create_time, cir.modify_user_id, cir.clock_in_id, cir.resource, cir.main, cir.resource_type
        ,ci.clock_id, date_format(ci.clock_date,'%Y-%m-%d') clock_date, ci.create_user_id clock_in_user
        from t_clock_in_resources cir INNER JOIN t_clock_in ci on cir.clock_in_id = ci.id and ci.`status` = 1 and ci.clock_id = #{clockId}
        where cir.`status` = 1 and cir.resource_type = #{resourceType}
        ORDER BY cir.create_time DESC
        <if test="pageSize > 0">
            limit #{start}, #{pageSize}
        </if>

    </select>

    <resultMap type="com.cn.leedane.display.clock.ClockInResourceDisplay" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyUserId" column="modify_user_id"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="resource" column="resource"/>
        <result property="main" column="main"/>
        <result property="resourceType" column="resource_type"/>
        <result property="clockId" column="clock_id"/>
        <result property="clockDate" column="clock_date"/>
        <result property="clockInUser" column="clock_in_user"/>
    </resultMap>
</mapper>