<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.cn.leedane.mapper.clock.ClockMapper">

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="dateClocks" resultMap="objectBean">
		select c.id, c.status,c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.modify_user_id, date_format(c.modify_time,'%Y-%m-%d %H:%i:%s') modify_time 
				,c.title, c.clock_describe, c.icon, c.share, c.start_date, c.end_date, c.clock_in_type, c.choose_img, c.clock_repeat, cm.remind
				,c.apply_end_date, c.take_part_number, c.reward_score 
				,date_format(c.clock_start_time,'%H:%i') clock_start_time, date_format(c.clock_end_time,'%H:%i') clock_end_time
				,(select ci.`status` from t_clock_in ci where ci.create_user_id = #{createUserId} and ci.clock_id = c.id and (ci.`status` = 1 or ci.`status` = 3 or ci.`status` = 13) and DATE_FORMAT(ci.clock_date,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d' )) clock_in_status
				,cm.member_id, u.pic_path, u.account
			from t_clock c INNER JOIN t_clock_member cm ON c.id = cm.clock_id and cm.`status` = 1 
						LEFT JOIN t_user u ON u.id = cm.member_id and u.`status` = 1 
			where EXISTS (select m.member_id from t_clock_member m where m.clock_id = cm.clock_id and m.`status` = 1 and m.member_id = #{createUserId}) and c.`status` = 1 
			and c.start_date &lt;= date_format(#{date}, '%Y-%m-%d') and (c.end_date is null or c.end_date &gt;= date_format(#{date}, '%Y-%m-%d')) and  c.clock_repeat like '%${week}%'
		ORDER BY clock_in_status,c.clock_start_time, c.clock_end_time
	</select>
	<select id="getMyOngoingClocks" resultMap="objectBean">
		select c.id, c.status,c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.modify_user_id, date_format(c.modify_time,'%Y-%m-%d %H:%i:%s') modify_time 
				,c.title, c.clock_describe, c.icon, c.share, c.start_date, c.end_date, c.clock_in_type, c.choose_img, c.clock_repeat, cm.remind
				,c.apply_end_date, c.take_part_number, c.reward_score , c.share_id, c.total_day
				,date_format(c.clock_start_time,'%H:%i') clock_start_time, date_format(c.clock_end_time,'%H:%i') clock_end_time
				,cm.member_id, u.pic_path, u.account, (select count(cmb.id) from t_clock_member cmb where cmb.`status` = 1 and cmb.clock_id = c.id) person_number
			from t_clock c INNER JOIN t_clock_member cm ON c.id = cm.clock_id and cm.`status` = 1 
						LEFT JOIN t_user u ON u.id = cm.member_id and u.`status` = 1 
			where EXISTS (select m.member_id from t_clock_member m where m.clock_id = cm.clock_id and m.`status` = 1 and cm.member_id = #{createUserId}) and c.`status` = 1 
			and (c.end_date is null or c.end_date &gt;= date_format(#{date}, '%Y-%m-%d'))
		ORDER BY c.clock_end_time desc, c.clock_start_time desc limit #{start}, #{pageSize}
	</select>
	
	<select id="getMyEndedClocks" resultMap="objectBean">
		select c.id, c.status,c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.modify_user_id, date_format(c.modify_time,'%Y-%m-%d %H:%i:%s') modify_time
				,c.title, c.clock_describe, c.icon, c.share, c.start_date, c.end_date, c.clock_in_type, c.choose_img, c.clock_repeat
				,c.apply_end_date, c.take_part_number, c.reward_score
				,date_format(c.clock_start_time,'%H:%i') clock_start_time, date_format(c.clock_end_time,'%H:%i') clock_end_time
				,(select count(tci.id) from t_clock_in tci where tci.clock_id = c.id and tci.create_user_id = #{createUserId} and tci.`status` = 1) clock_count
			from t_clock c
			where EXISTS (select m.member_id from t_clock_member m where m.clock_id = c.id and m.`status` = 1 and m.member_id = #{createUserId}) and c.`status` in (1, 9)
			and c.end_date is not null and c.end_date &lt; date_format(#{date}, '%Y-%m-%d')
		ORDER BY c.clock_end_time desc, c.clock_start_time desc limit #{start}, #{pageSize}
	</select>
	
	<select id="systemClocks" resultMap="objectBean">
		select c.id, c.status,c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.modify_user_id, date_format(c.modify_time,'%Y-%m-%d %H:%i:%s') modify_time 
				,c.title, c.clock_describe, c.icon, c.share, c.start_date, c.end_date, c.clock_in_type, c.choose_img, c.clock_repeat
				,c.apply_end_date, (select count(cl.id) from t_clock cl where cl.`status` = 1 and cl.parent_id = c.id) take_part_number, c.reward_score 
				,date_format(c.clock_start_time,'%H:%i') clock_start_time, date_format(c.clock_end_time,'%H:%i') clock_end_time
				,category_id
			from t_clock c
			where c.`status` = 1 and c.category_id > 0 
		ORDER BY c.create_time desc, c.id desc 
	</select>
	
	<select id="getMyClock" resultMap="objectBean">
		select c.id, c.status,c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.modify_user_id, date_format(c.modify_time,'%Y-%m-%d %H:%i:%s') modify_time 
				,c.title, c.clock_describe, c.icon, c.share, c.start_date, c.end_date, c.clock_in_type, c.choose_img, c.clock_repeat, cm.remind , cm.notification
				,c.apply_end_date, c.take_part_number, c.reward_score , c.share_id, c.total_day, c.auto_add, c.auto_out, c.see_each_other, c.must_check_clock_in
				,date_format(c.clock_start_time,'%H:%i') clock_start_time, date_format(c.clock_end_time,'%H:%i') clock_end_time
				,category_id
			from t_clock c inner join t_clock_member cm on c.id = cm.clock_id
			where c.`status` = 1 and cm.`status` = 1 and c.id = #{clockId}
			and (c.create_user_id = #{createUserId} or cm.member_id = #{createUserId}) limit 1
	</select>
	
	<select id="search" resultMap="objectSearchBean">
		select c.id, c.status,c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.modify_user_id, date_format(c.modify_time,'%Y-%m-%d %H:%i:%s') modify_time 
				,c.title, c.clock_describe, c.icon, c.share, c.start_date, c.end_date, c.clock_in_type, c.choose_img, c.clock_repeat
				,c.apply_end_date, c.take_part_number, c.reward_score , c.share_id, c.total_day
				,date_format(c.clock_start_time,'%H:%i') clock_start_time, date_format(c.clock_end_time,'%H:%i') clock_end_time
				, u.pic_path, u.account, u.id user_id, (case c.create_user_id when #{userId} then -1 else (select (case when cd.new_status is not null then cd.new_status else cd.status end) from t_clock_deal cd where cd.clock_id = c.id and cd.member_id = #{userId}) end) deal_status
			from t_clock c INNER JOIN t_user u on c.create_user_id = u.id AND u.`status` = 1 
			where c.`status` = 1 
			and (c.`share` = 1 or (select 1 from t_clock_member cm where cm.clock_id = c.id and cm.member_id = #{userId} and cm.`status` = 1 limit 1)) 
			and (c.share_id = #{keyword} or c.title like '%${keyword}%') 
			ORDER BY if(isnull(c.end_date),0,1),c.end_date desc
			limit 10
	</select>
	
	<select id="getClockThumbnail" resultMap="objectSearchBean">
		select c.id, c.status,c.create_user_id, date_format(c.create_time,'%Y-%m-%d %H:%i:%s') create_time, c.modify_user_id, date_format(c.modify_time,'%Y-%m-%d %H:%i:%s') modify_time 
				,c.title, c.clock_describe, c.icon, c.share, c.start_date, c.end_date, c.clock_in_type, c.choose_img, c.clock_repeat
				,c.apply_end_date, c.take_part_number, c.reward_score, c.share_id, c.total_day, c.auto_add, c.auto_out, c.see_each_other, c.must_check_clock_in
				,date_format(c.clock_start_time,'%H:%i') clock_start_time, date_format(c.clock_end_time,'%H:%i') clock_end_time
				, u.account, u.id user_id
			from t_clock c INNER JOIN t_user u on c.create_user_id = u.id AND u.`status` = 1 
			where
			((c.`share` = 1 and c.`status` = 1) or (select 1 from t_clock_member cm where cm.clock_id = c.id and cm.member_id = #{userId} and cm.`status` = 1 limit 1)) 
			and c.id = #{clockId}
			limit 1
	</select>
	<resultMap type="com.cn.leedane.display.clock.ClockDisplay" id="objectBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="title" column="title"/>
        <result property="clockDescribe" column="clock_describe"/>
        <result property="icon" column="icon"/>
        <result property="share" column="share"/>
        <result property="applyEndDate" column="apply_end_date"/>
        <result property="takePartNumber" column="take_part_number"/>
        <result property="rewardScore" column="reward_score"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="clockInType" column="clock_in_type"/>
        <result property="chooseImg" column="choose_img"/>
        <result property="mustStep" column="must_step"/>
        <result property="clockStartTime" column="clock_start_time"/>
        <result property="clockEndTime" column="clock_end_time"/>
        <result property="clockInStatus" column="clock_in_status"/>
        <result property="clockRepeat" column="clock_repeat"/>
        <result property="remind" column="remind"/>
        <result property="notification" column="notification"/>
        <result property="clockCount" column="clock_count"/>
        <result property="categoryId" column="category_id"/>
        <result property="shareId" column="share_id"/>
        <result property="totalDay" column="total_day"/>
		<result property="autoAdd" column="auto_add"/>
		<result property="autoOut" column="auto_out"/>
		<result property="seeEachOther" column="see_each_other"/>
		<result property="mustCheckClockIn" column="must_check_clock_in"/>
        
        <collection property="users" ofType="com.cn.leedane.display.clock.ClockUserDisplay">
             <!-- id:订单明细唯一标识
                 property:要将订单明细的唯一标识映射到cn.higgin.mybatis.po.Orderdetail的对应属性 -->
            <id property="id" column="member_id"/>
	        <result property="picPath" column="pic_path"/>
	        <result property="name" column="account"/>
         </collection>
   </resultMap>
   
   <resultMap type="com.cn.leedane.display.clock.ClockSearchDisplay" id="objectSearchBean">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="title" column="title"/>
        <result property="clockDescribe" column="clock_describe"/>
        <result property="icon" column="icon"/>
        <result property="share" column="share"/>
        <result property="applyEndDate" column="apply_end_date"/>
        <result property="takePartNumber" column="take_part_number"/>
        <result property="rewardScore" column="reward_score"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="clockInType" column="clock_in_type"/>
        <result property="chooseImg" column="choose_img"/>
        <result property="clockStartTime" column="clock_start_time"/>
        <result property="clockEndTime" column="clock_end_time"/>
        <result property="clockRepeat" column="clock_repeat"/>
        <result property="account" column="account"/>
        <result property="userId" column="user_id"/>
        <result property="picPath" column="pic_path"/>
        <result property="shareId" column="share_id"/>
        <result property="totalDay" column="total_day"/>
        <result property="dealStatus" column="deal_status"/>
	   <result property="autoAdd" column="auto_add"/>
	   <result property="autoOut" column="auto_out"/>
	   <result property="seeOther" column="see_each_other"/>
	   <result property="clockInCheck" column="must_check_clock_in"/>
   </resultMap>
</mapper>