<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="'发布商品'"></title>
	<link rel="shortcut icon" type="image/icon" th:href="@{/page/images/favicon_my.ico}" media="screen"/>
	<style type="text/css">
		.clearFloat{
			clear: both;
		}
		.container{
			margin-top: 50px;
		}
		.blog-info{
			margin-top: 15px;
		}
		.must-not-null{
			margin-left: 2px;
			color: red;
		}
		.tag-list{
		}
		.tag-item{
			 margin-right: 10px;
		}
		.badge {
	    	background-color: #d9534f !important;
	    	margin-right: 5px;
	    }
	    .img-container img{
	    	margin-top: 10px !important;
	    }
	</style>
</head>
<body>
<div th:include="common-nonav :: hello">what?</div>

<div class="main clearFloat">	
	<div class="container">
		<div class="row">
	   		<div class="col-lg-9">
	   			<div class="form-group">
	   				<label for="name">商品标题<font class="must-not-null">*</font></label>
				    <input class="form-control" title="请输入商品标题，不能为空，最多100个字" type="text" name="title" placeholder="请输入商品标题" th:value="${product.title}" empty="false" limit="100"/>
				 </div>
				 <div class="form-group">
	   				<label for="name">商品副标题<font class="must-not-null">*</font></label>
				    <input class="form-control" title="请输入商品副标题，不能为空，最多100个字" type="text" name="subtitle" placeholder="请输入商品副标题" th:value="${product.subtitle}" empty="false" limit="100"/>
				 </div>
				 <div class="form-group">
				    <label for="content">商品详情<font class="must-not-null">*</font></label>
				    <textarea class="form-control" data-provide="markdown-editable" data-width="100%" title="请输入商品详情，支持mardown语法，不能为空，最多1499个字" rows="7" name="detail_source" placeholder="请输入商品的详情，不能超过1499个文字。" th:text="${product.detailSource}" empty="false" limit="100"></textarea>
				  </div>
	   		</div>
	   </div>
	   <div class="row" style="margin-top: 5px;">
	   		<div class="col-lg-9">
			   	<div class="form-group">
		  				<label for="name">商品链接<font class="must-not-null">*</font></label>
				    <input class="form-control" title="请输入商品链接，不能为空，最多100个字" type="text" name="link" placeholder="请输入商品链接" th:value="${product.link}" empty="false" limit="100"/>
				 </div>
			 </div>
	   </div>
	   <div class="row" style="margin-top: 5px;">
	   		<div class="col-lg-12">
	   			<label for="name">平台</label><br />
	   			<div class="btn-group" data-toggle="buttons" id="platforms">
					<label class="btn btn-primary active" th:if="${iterStat.index==0}" th:each="platform,iterStat : ${platforms}">
						<input type="radio"  name="options" id="option1" th:text="${platform}" th:data="${platform}"/> 
					</label>
					<label class="btn btn-primary" th:if="${iterStat.index!=0}" th:each="platform,iterStat : ${platforms}">
						<input type="radio"  name="options" id="option1" th:text="${platform}" th:data="${platform}"/>
					</label>
				</div>
	   		</div>
	   </div>
	   	
	   <div class="row" style="margin-top: 5px;">
	   		<div class="col-lg-12">
	   			<label for="name">至少1张主图</label>
	   		</div>
	   		<div class="col-lg-12">
	   			<div class="btn-group" id="selectImages">
				    <button type="button" class="btn btn-default active" onclick="btnSelectDetail(this);">详情中获取</button>
				    <button type="button" class="btn btn-default" title="选择素材，最多5张图片" onclick="btnSelectMaterial(this);">选择素材</button>
				</div>
	   		</div>
	   		<div class="img-container">
		   		<div class="col-lg-2" th:each="img,imgStat : ${imgs}">
		   			<img th:src="${img}" style="width: 100%; height: 150px;" class="img-responsive" onClick="" />
		   		</div>
	   		</div>
	   </div>
	   <div class="row" style="margin-top: 5px;">
	   		<div class="col-lg-4">
	   			<div class="form-group">
	   				<label for="name">选择分类</label><br/>
				    <button class="btn btn-default" type="button" onclick="createSelectCategoryModal(this, 41, 'afterSelectCategory');">请点击选择分类</button>
				    <label>已选择分类：<span id="selectCategory"></span></label>
				 </div>
	   			<div class="form-group">
	   				<label for="name">新价格</label>
				    <input class="form-control" title="请输入商品现在最新的价格" type="number" name="price" placeholder="请输入商品现在最新的价格" th:value="${product.price}" empty="false" limit="100"/>
				 </div>
	   			<div class="form-group">
	   				<label for="name">原价格</label>
				    <input class="form-control" title="请输入商品原来的价格" type="number" name="old_price" placeholder="请输入商品原来的价格" th:value="${product.oldPrice}" empty="false" limit="100"/>
				 </div>
				 <div class="form-group">
	   				<label for="name">返现百分比</label>
				    <input class="form-control" title="请输入商品返现的百分比" type="number" name="cash_back_ratio" placeholder="请输入商品返现的百分比" th:value="${product.cashBackRatio}" empty="false" limit="100"/>
				 </div>
		   	</div>
	   </div>
	   <div class="row" style="margin-top: 5px;">
	   		<div class="col-lg-12">
	   			<label for="name">标签</label>
	   		</div>
	   </div>
	   <div class="row">
	   		<div class="col-lg-4">
	   			<div class="form-group">
				    <input type="text" class="form-control tag-input" data-placement="left" data-toggle="tooltip" title="添加标签，最多3个，回车添加" placeholder="请输入标签，最多3个，每个限制10位，回车添加" onkeypress="if (event.keyCode == 13) addTag(this);" />
				 </div>
	   		</div>
	   		<div class="col-lg-8">
	   			<div class="tag-list">
	   				<div th:each="tag,tagStat : ${tags}" th:class="'btn-group dropup tag-item tag-item-'+ ${tagStat.index}" >
	   					<button type="button" class="btn btn-primary tag-value" th:text="${tag}"></button>
	   					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	   						<span class="caret"></span>
	   						<span class="sr-only">Toggle Dropdown</span>
	   					</button>
	   					<ul class="dropdown-menu dropdown-menu-right" role="menu">
	   						<li>
	   							<a href="javascript:void(0);" onclick="deleteTag(this, 0);">删除</a>
	   						</li>
	   						<li>
	   							<a href="javascript:void(0);" onclick="moveLeftTag(this, 0);">左移</a>
	   						</li>
	   						<li>
	   							<a href="javascript:void(0);" onclick="moveRightTag(this, 0);">右移</a>
	   						</li>
	   						<li class="divider"></li>
	   						<li>
	   							<a href="javascript:void(0);" onclick="clearTag(this);">清空</a>
	   						</li>
	   					</ul>
	   				</div>
	   			</div>
	   		</div>
	   </div>
	   <div class="row">
	   		<div class="col-lg-12">
	   			<div class="checkbox">
					<label>
						<input type="checkbox" checked="checked" name="can_comment" title="该功能暂时不能使用" disabled = "disabled" />是否能评论
					</label>
				</div>
	   		</div>
	   </div>
	   <div class="row">
	   		<div class="col-lg-12">
	   			<div class="checkbox">
					<label>
						<input type="checkbox" checked="checked" name="can_transmit" title="该功能暂时不能使用" disabled = "disabled" />是否能转发
					</label>
				</div>
	   		</div>
	   </div>
	   <div class="row">
	   		<div class="col-lg-12">
	   			<div class="checkbox">
					<label>
						<input type="checkbox" checked="checked" name="is_recommend" title="是否推荐"/> 是否推荐
					</label>
				</div>
	   		</div>
	   </div>
	   
	   <div class="row" style="display: none;">
	   		<input type="hidden" name="create_user_id" />
	   </div>
	   <div class="row" style="margin-bottom: 20px;">
	   		<div class="col-lg-12" style="text-align: center;">
	   			<button th:if="${product.id} gt 0" type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;" onclick="release(this, true);">编辑</button>
	   			<button th:if="${product.id} le 0" type="button" class="btn btn-primary btn-sm" style="margin-right: 10px;" onclick="release(this, false);">发布商品</button>
	   		</div>
	   </div>
	</div>
</div>
</body>
<div th:include="admin/commonAdjs :: commAdJs">what?</div>
<script th:src="@{/page/js/mall/product-operate.js}" type="text/javascript"></script>
<script th:src="@{/page/js/select-material.js}"></script>
<script th:src="@{/page/js/select-category.js}" type="text/javascript"></script>
<!-- 测试环境下的引用 -->
<link rel="stylesheet" th:if="${isDebug}" th:href="@{/page/other/bootstrap-markdown/css/bootstrap-markdown.min.css}" />
<script th:if="${isDebug}" th:src="@{/page/other/bootstrap-markdown/js/bootstrap-markdown.js}" type="text/javascript"></script>

<!-- 正式环境下的cdn引用-->
<link th:if="${not isDebug}" rel="stylesheet" th:href="@{https://cdn.bootcss.com/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css}"/>
<script th:if="${not isDebug}" th:src="@{https://cdn.bootcss.com/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js}" type="text/javascript"></script>

<script th:inline="javascript">
var productId = /*[[${product.id}]]*/;//取值
</script>
</html>